section.slidertop
	.slidertop__block(style="background: url(./assets/img/bg/contact-bg.jpg)")
		.container
			.slidertop__breadcrumbs
				a(href="").slidertop__main.slidertop__bd-text Главная
				.slidertop__main.slidertop__bd-text
					.slidertop__bd-arrow
						svg(viewBox="0 0 5 8")
							g
								g
									polyline(points="1 1 4 4 1 7").cls-1
				.slidertop__bd-text Контакты

			.slidertop__wrapper
				.row
					.title-wrap.title-wrap--w
						h2
							span К
							| онтакты

				.hs-slidertop__wave
					.hs-slidertop__wave-b
						svg(viewBox="0 0 281 13.74").animateSVG
							g
								path(d="M.5,10.08,11.75,3.65a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0L81.75,3.65a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0l11.25-6.43a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0l11.25-6.43a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0").cls-1
