.r-advertising

    .container

        .r-advertising__slider

            ul.r-advertising__slider-w

                li(data-src="./assets/img/content/r-advertising-1.jpg").r-advertising__item
                    a(href="#").r-advertising__link
                        img(src="./assets/img/content/r-advertising-1.jpg" alt="")

                li(data-src="./assets/img/content/r-advertising-2.jpg").r-advertising__item
                    a(href="#").r-advertising__link
                        img(src="./assets/img/content/r-advertising-2.jpg" alt="")

                li(data-src="./assets/img/content/r-advertising-1.jpg").r-advertising__item
                    a(href="#").r-advertising__link
                        img(src="./assets/img/content/r-advertising-1.jpg" alt="")

                li(data-src="./assets/img/content/r-advertising-2.jpg").r-advertising__item
                    a(href="#").r-advertising__link
                        img(src="./assets/img/content/r-advertising-2.jpg" alt="")