section.r-gallery

    .container

        .r-gallery__slider

            ul.r-gallery__slider-w.r-gallery__lightgallery

                li(data-src="./assets/img/content/hs-gallery-1.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-2.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-2.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-3.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-2.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-2.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-3.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-2.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-2.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-3.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-2.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-2.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-3.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").r-gallery__item
                    a(href="#").r-gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")