.r-main-container

    include ../restaurant-common/r-logo-top

    include ../restaurant-common/r-gallery

    include ../restaurant-common/r-advertising

    include ../restaurant-common/r-meals

    // include ../restaurant-common/r-book

    include ../restaurant-common/r-reviews

    include ../main-common/footer