section.r-meals
    .container
        .r-meals__wrapper

            .r-meals__title-block

                .r-meals__title
                    p Меню ресторана
                    p «Baden Gourmet»

                a(href="#").r-meals__button
                    span Читать меню

            .r-meals__pic
                .r-meals__pic-w
                    img(src="./assets/img/bg/r-meals-pic.png")

