section.r-reviews

    .container

        .r-reviews__title
            .r-reviews__text
                | Отзывы

        .r-reviews__slider

            ul.r-reviews__slider-w.r-reviews__lightgallery

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").r-reviews__slide
                    a(href="#").r-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls1.jpg" alt="").r-reviews__pic

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").r-reviews__slide
                    a(href="#").r-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls2.jpg" alt="").r-reviews__pic

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").r-reviews__slide
                    a(href="#").r-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls2.jpg" alt="").r-reviews__pic

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").r-reviews__slide
                    a(href="#").r-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls2.jpg" alt="").r-reviews__pic