.restaurant-wrap
	.rs-container
		.restaurant-wrap__block
			.restaurant-wrap__left
				h3.restaurant-wrap__title Baden Gourmet

				.restaurant-wrap__size-wrap
					span.restaurant-wrap__size до 150 человек
				p.restaurant-wrap__text
					| Просторное помещение, оформленное в светлых тонах, отлично подойдет для проведения крупных праздничных мероприятий: свадеб, юбилеев, новогодних корпоративов.
					br
					br
					| Большая зона для танцев и конкурсов, хорошая акустика, а также подходящее освещение для удачных памятных фотографий.
				a.button.button--mid Подробнее

			.restaurant-wrap__right
				.restaurant-wrap__img-wrap
					img(src="./assets/img/content/restaurents1.jpg")

.restaurant-wrap
	.rs-container
		.restaurant-wrap__block.restaurant-wrap__block--reverse
			.restaurant-wrap__left
				h3.restaurant-wrap__title Cafe Thermal

				.restaurant-wrap__size-wrap
					span.restaurant-wrap__size 6 человек
				p.restaurant-wrap__text
					| Cafe Thermal располагается в термальном корпусе и предлагает блюда быстрого приготовления для посетителей spa курорта.
					br
					br
					| Супы, горячие блюда, салатики, десерты и коктейли помогут восстановить силы, отдохнуть и расслабиться после купания.
				a.button.button--mid Подробнее

			.restaurant-wrap__right
				.restaurant-wrap__img-wrap
					img(src="./assets/img/content/restaurents2.jpg")

.restaurant-wrap
	.rs-container
		.restaurant-wrap__block
			.restaurant-wrap__left
				h3.restaurant-wrap__title Греческий зал

				.restaurant-wrap__size-wrap
					span.restaurant-wrap__size от 40 до 70 гостей
				p.restaurant-wrap__text
					| Помещение оформлено в офисном стиле и предназначено для проведения деловых мероприятий: заседаний совета директоров, годовых отчетов, переговоров с партнерами, проведения обучений и т.д.
					br
					br
					| Минималистический интерьер помещения настраивает на серьезный рабочий лад. Зал оборудован современной удобной мебелью, имеется флипчарт, доска и телевизор. Есть кондиционер.
				a.button.button--mid Подробнее
				.rest-olive

			.restaurant-wrap__right
				.restaurant-wrap__img-wrap
					img(src="./assets/img/content/restaurents3.jpg")

.restaurant-wrap
	.rs-container
		.restaurant-wrap__block.restaurant-wrap__block--reverse
			.restaurant-wrap__left
				h3.restaurant-wrap__title Каминный зал

				.restaurant-wrap__size-wrap
					span.restaurant-wrap__size 6 человек
				p.restaurant-wrap__text
					| Помещение оформлено в офисном стиле и предназначено для проведения деловых мероприятий: заседаний совета директоров, годовых отчетов, переговоров с партнерами, проведения обучений и т.д. 
					br
					br
					| Минималистический интерьер помещения настраивает на серьезный рабочий лад. Зал оборудован современной удобной мебелью, имеется флипчарт, доска и телевизор. Есть кондиционер.
				a.button.button--mid Подробнее

			.restaurant-wrap__right
				.restaurant-wrap__img-wrap
					img(src="./assets/img/content/restaurents4.jpg")

.restaurant-wrap
	.rs-container
		.restaurant-wrap__block
			.restaurant-wrap__left
				h3.restaurant-wrap__title Мини конференц-зал

				.restaurant-wrap__size-wrap
					span.restaurant-wrap__size от 40 до 70 гостей
				p.restaurant-wrap__text
					| Помещение оформлено в офисном стиле и предназначено для проведения деловых мероприятий: заседаний совета директоров, годовых отчетов, переговоров с партнерами, проведения обучений и т.д. 
					br
					br
					| Минималистический интерьер помещения настраивает на серьезный рабочий лад. Зал оборудован современной удобной мебелью, имеется флипчарт, доска и телевизор. Есть кондиционер
				a.button.button--mid Подробнее

			.restaurant-wrap__right
				.restaurant-wrap__img-wrap
					img(src="./assets/img/content/restaurents5.jpg")

.restaurant-wrap
	.rs-container
		.restaurant-wrap__block.restaurant-wrap__block--reverse
			.restaurant-wrap__left.restaurant-wrap__left--vertical
				h3.restaurant-wrap__title Зал для крупных мероприятий

				.restaurant-wrap__size-wrap
					span.restaurant-wrap__size д6 человек
				p.restaurant-wrap__text
					| Просторный зал для проведения крупных событий. Сдержанный, деловой стиль зала позволяет проводить здесь семинары, конференции, лекции, заседания и прочие деловые мероприятия. Для этих целей зал оборудован проектором, аудиосистемой и другой необходимой аппаратурой.
					br
					br
					| Оформление помещения текстилем, воздушными шарами, живыми или искусственными цветами и другими декоративными элементами превращает его в праздничный зал для торжественных банкетов. Сдержанный дизайн предоставляет простор для фантазии и безграничные возможности оформителям.
				a.button.button--mid Подробнее

			.restaurant-wrap__right
				.restaurant-wrap__img-wrap
					img(src="./assets/img/content/restaurents6.jpg")