section.rs-top-logo
    .container
        .rs-logo__bcrumbs
            ul.rs-logo__bcrumbs-list
                li.rs-logo__bcrumbs-item
                    | Главная

                li.rs-logo__bcrumbs-item
                    .rs-logo__bcrumbs-item-i
                        svg(viewBox="0 0 5 8")
                            g
                                polyline(points="1 1 4 4 1 7").cls-1

                li.rs-logo__bcrumbs-item
                    | Рестораны

                li.rs-logo__bcrumbs-item
                    .r-logo__bcrumbs-item-i
                        svg(viewBox="0 0 5 8")
                            g
                                polyline(points="1 1 4 4 1 7").cls-1

                li.rs-logo__bcrumbs-item
                    a(href="#").r-logo__bcrumbs-link
                        | Ресторан «Baden Gourmet»