.row
	.title-wrap
		h2
			span Б
			| лижайшие мероприятия в Баден-Баден

.event-wrap
	.event
		span.event__date 07.06.2017
		span.event__title Театр огня PANDORUM в Баден-Баден
		span.event__desc
			| Театр огня PANDORUM украсит любое Ваше мероприятие ярким шоу, которое никого не оставит равнодушным, сделает праздник
		a.button.button--small Подробнее

	.event
		span.event__date 07.06.2017
		span.event__title Главный фестиваль лета - ДОБРа Фест!
		span.event__desc
			| Главный фестиваль лета - ДОБРа Фест! Добрый фестиваль русской бани, spa & wellnes. ВХОД СВОБОДНЫЙ!!!
		a.button.button--small Подробнее

	.event
		span.event__date 07.06.2017
		span.event__title Лазерное шоу в Баден-Баден
		span.event__desc
			| Театр огня PANDORUM украсит любое Ваше мероприятие ярким шоу, которое никого не оставит равнодушным, сделает праздник