.row
	.title-wrap
		h2
			span Ф
			| ото и видео комплекса

.gallery

	ul.gallery__slider

		li(data-src="./assets/img/content/gallery1.jpg")
			img(src="./assets/img/content/gallery1.jpg" alt="")
			img(src="./assets/img/icons/zoom.png" alt="").zoom

		li(data-src="./assets/img/content/gallery2.jpg")
			img(src="./assets/img/content/gallery2.jpg" alt="")
			img(src="./assets/img/icons/zoom.png" alt="").zoom

		li(data-src="https://www.youtube.com/watch?v=meBbDqAXago")
			img(src="./assets/img/content/gallery3.jpg" alt="")
			img(src="./assets/img/icons/video.png" alt="").video

		li(data-src="./assets/img/content/gallery4.jpg")
			img(src="./assets/img/content/gallery4.jpg" alt="")
			img(src="./assets/img/icons/zoom.png" alt="").zoom

		li(data-src="./assets/img/content/gallery5.jpg")
			img(src="./assets/img/content/gallery5.jpg" alt="")
			img(src="./assets/img/icons/zoom.png" alt="").zoom

		li(data-src="./assets/img/content/gallery3.jpg")
			img(src="./assets/img/content/gallery3.jpg" alt="")
			img(src="./assets/img/icons/zoom.png" alt="").zoom

	.gallery__prev
	.gallery__next