.ticket-complect
	.ticket-complect__left
		.ticket-complect__left-top
			img(src="./assets/img/icons/ticket-complect-icon-top.png").ticket-complect__icon
			span.ticket-complect__text В стоимость билета от 220 рублей входит!
			a(href="").button.button--mid Купить билет

		.ticket-complect__left-mid
			span Или

		.ticket-complect__left-bottom
			img(src="./assets/img/icons/ticket-complect-icon-bottom.png").ticket-complect__icon
			span.ticket-complect__text Снимите номер и получите все доп. услуги в комплекте
			a(href="").button.button--mid Подобрать номер

		.ticket-complect__img-complect
			img(src="./assets/img/icons/complect.png")

	.ticket-complect__right
		.ticket-complect__row
			.ticket-complect__block
				img(src="./assets/img/content/ticket1.jpg").ticket-complect__img
				.ticket-complect__desc-block
					span.ticket-complect__desc 5 бассейнов

			.ticket-complect__block
				img(src="./assets/img/content/ticket2.jpg").ticket-complect__img
				.ticket-complect__desc-block
					span.ticket-complect__desc Соленая пещера

			.ticket-complect__block
				img(src="./assets/img/content/ticket3.jpg").ticket-complect__img
				.ticket-complect__desc-block
					span.ticket-complect__desc Тренажёрный зал

			.ticket-complect__block
				img(src="./assets/img/content/ticket4.jpg").ticket-complect__img
				.ticket-complect__desc-block
					span.ticket-complect__desc Детский игровой центр

		.ticket-complect__row

			.ticket-complect__block
				img(src="./assets/img/content/ticket5.jpg").ticket-complect__img
				.ticket-complect__desc-block
					span.ticket-complect__desc Комплекс бань, хамам

			.ticket-complect__block
				img(src="./assets/img/content/ticket6.jpg").ticket-complect__img
				.ticket-complect__desc-block
					span.ticket-complect__desc Пляж

			.ticket-complect__block
				img(src="./assets/img/content/ticket7.jpg").ticket-complect__img
				.ticket-complect__desc-block
					span.ticket-complect__desc Футбольное и волейбольное поле

			.ticket-complect__block
				img(src="./assets/img/content/ticket8.jpg").ticket-complect__img
				.ticket-complect__desc-block
					span.ticket-complect__desc Контактный зоопарк