section.room-price
    .container
        .room-price__wrap
            .room-price__heading
                | Прайс

            .room-price__table-block
                table.room-price__table

                    tr.room-price__row
                        td.room-price__cell.room-price__cell_left.room-price__cell_p
                            .room-price__text
                                | Стоимость с 8 июня по 30 сентября 2017 г.

                        td.room-price__cell.room-price__cell_right.room-price__cell_p
                            .room-price__man
                                svg(viewBox="0 0 19 21")
                                    g
                                        path(d="M5.5,12.5s-5,2-5,3c0,2.71,2,5,9,5").cls-1
                                        path(d="M13.5,12.5s5,2,5,3c0,2.71-2,5-9,5").cls-1
                                        path(d="M9.5,11.5c-2.36,0-4.78-3.68-4.78-6.72S7.14.5,9.5.5").cls-2
                                        path(d="M9.5,11.5c2.36,0,4.78-3.68,4.78-6.72S11.86.5,9.5.5").cls-2

                            .room-price__text.room-price__text_guests
                                | 2 гостя

                    tr.room-price__row.room-price__cell_borderTop
                        td.room-price__cell.room-price__cell_left.room-price__cell_bg.room-price__cell_borderRight
                            .room-price__text
                                | Будние дни

                        td.room-price__cell.room-price__cell_right.room-price__cell_bg
                            .room-price__text
                                | 6 200 руб./сут.

                    tr.room-price__row.room-price__cell_borderBottom
                        td.room-price__cell.room-price__cell_left.room-price__cell_borderRight
                            .room-price__text
                                | Выходные и праздничные дни

                        td.room-price__cell.room-price__cell_right
                            .room-price__text
                                | 7 300 руб./сут.

                    tr.room-price__row
                        td.room-price__cell.room-price__cell_left.room-price__cell_p
                            .room-price__text.room-price__text_grey
                                p Депозитный сбор за номер составляет 1500 руб.
                                p (сбор возвращается при выезде из номера, при условии его сдачи).

                        td.room-price__cell.room-price__cell_right.room-price__cell_p
                            a(href="#").room-price__button
                                span Забронировать