section.room-gallery

    .container

        .room-gallery__slider

            ul.room-gallery__slider-w.room-gallery__lightgallery

                li(data-src="./assets/img/content/hs-gallery-1.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-2.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-2.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-3.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-2.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-2.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-3.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-2.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-2.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-3.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-2.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-2.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-3.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").room-gallery__item
                    a(href="#").room-gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")