section.room-sidebar
    .room-sidebar__title
        .room-sb__title-text_t
            | комплекс
        .room-sb__title-text_b
            | Апартаментов

    ul.room-sb__list
        li.room-sb__item
            a(href="#").room-sb__link
                | Luxe

        li.room-sb__item
            a(href="#").room-sb__link.room-sb__link_lh
                | Эконом стандарт двухместный

        // li.room-sb__item
            a(href="#").room-sb__link
                | Люкс двухкомнатный

        li.room-sb__item
            a(href="#").room-sb__link
                | Люкс однокомнатный

        li.room-sb__item
            a(href="#").room-sb__link
                | Полулюкс

        li.room-sb__item
            a(href="#").room-sb__link
                | Стандарт

        li.room-sb__item
            a(href="#").room-sb__link
                | Эконом

        li.room-sb__item
            a(href="#").room-sb__link
                | Коттедж с сауной

        li.room-sb__item
            a(href="#").room-sb__link
                | Коттедж с мангальной зоной

    .room-sb__button-wrap

        a(href="#").room-sb__button.room-sb__button_ticket
            .room-sb__button-i.r-sb__button-i_ladder
                svg(viewBox="0 0 33.71 34.53")
                    path(d="M12.08,21.62v-17A4.09,4.09,0,0,0,8,.5H8A4.09,4.09,0,0,0,3.91,4.59").cls-1
                    path(d="M26.39,21.62v-17A4.09,4.09,0,0,0,22.3.5h0a4.09,4.09,0,0,0-4.09,4.09").cls-1
                    line(x1="25.71" y1="18.56" x2="12.08" y2="18.56").cls-1
                    line(x1="25.71" y1="11.74" x2="12.08" y2="11.74").cls-1
                    path(d="M.5,23,4,24.76a10.36,10.36,0,0,0,9.27,0L16.85,23l3.54,1.77a10.36,10.36,0,0,0,9.27,0L33.21,23").cls-1
                    path(d="M.5,31.16,4,32.93a10.36,10.36,0,0,0,9.27,0l3.54-1.77,3.54,1.77a10.36,10.36,0,0,0,9.27,0l3.54-1.77").cls-1

            .room-sb__button-text
                | Купить билет

        a(href="#").room-sb__button
            .room-sb__button-i.r-sb__button-i_bed
                svg(viewBox="0 0 36.67 25.48")
                    g
                        path(d="M.5,14.87V25h3a1.9,1.9,0,0,0,1.9-1.9v-.9H31.28v.9a1.9,1.9,0,0,0,1.9,1.9h3V14.87a5.28,5.28,0,0,0-5.28-5.28H5.78A5.28,5.28,0,0,0,.5,14.87Z").cls-1
                        line(x1="3.3" y1="13.79" x2="33.37" y2="13.79").cls-1
                        path(d="M3.65,7.49v-3A4,4,0,0,1,7.6.5H29.08A4,4,0,0,1,33,4.45v3").cls-1
                        path(d="M10.21,5.4h4a2.19,2.19,0,0,1,2.19,2.19v2a0,0,0,0,1,0,0H8a0,0,0,0,1,0,0v-2A2.19,2.19,0,0,1,10.21,5.4Z").cls-1
                        path(d="M22.75,5.4h4.11A2.14,2.14,0,0,1,29,7.54V9.59a0,0,0,0,1,0,0H20.61a0,0,0,0,1,0,0V7.54A2.14,2.14,0,0,1,22.75,5.4Z").cls-1

            .room-sb__button-text
                | Найти номер

        a(href="№").room-sb__button_phone
            .room-sb__button-i_phone
                svg(viewBox="0 0 15.95 15.95")
                    path(d="M4.3,5.73a1.85,1.85,0,0,0,2.39,0,1.78,1.78,0,0,0-.23-2.48l-2-2A2.08,2.08,0,0,0,1.55,1L1,1.48A1.8,1.8,0,0,0,.5,2.81a13,13,0,0,0,4,8.69,13,13,0,0,0,8.69,4,1.8,1.8,0,0,0,1.32-.53l.51-.51a2.08,2.08,0,0,0-.27-2.9l-2-2a1.78,1.78,0,0,0-2.48-.23,1.85,1.85,0,0,0,0,2.39").cls-1

            .room-sb__button-text_phone
                | +7 351 200 3333