.room-main-container

    include ../room-common/room-logo-top

    include ../room-common/room-gallery

    include ../room-common/room-price

    include ../room-common/room-options

    include ../room-common/room-reviews

    include ../main-common/footer