section.room-reviews

    .container

        .room-reviews__title
            .room-reviews__text
                | Отзывы

        .room-reviews__slider

            ul.room-reviews__slider-w.room-reviews__lightgallery

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").room-reviews__slide
                    a(href="#").room-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls1.jpg" alt="").room-reviews__pic

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").room-reviews__slide
                    a(href="#").room-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls2.jpg" alt="").room-reviews__pic

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").room-reviews__slide
                    a(href="#").room-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls2.jpg" alt="").room-reviews__pic

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").room-reviews__slide
                    a(href="#").room-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls2.jpg" alt="").room-reviews__pic