section.room-options
    .container
        .room-options__wrap
            .room-options__wrap-in

                .room-options__title
                    | В номере имеется:

                .room-options__list-wrap

                    ul.room-options__list
                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Телефон

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Телевизор

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Холодильник

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Кондиционер

                    ul.room-options__list
                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Чайник и чайные пары

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Совмещенный туалет и ванна

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Махровые халаты, тапочки и фен

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Набор гигиенических принадлежностей

                .room-options__title
                    | В стоимость включено

                .room-options__list-wrap

                    ul.room-options__list

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Пользование детской комнатой и детскими площадками;

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Посещение контактного зоопарка;

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Пользование спортивными площадками и пляжем без предоставления инвентаря и доп.услуг;

                    ul.room-options__list

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Проживание (размещение в 16:00, выезд до 14:00);

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Безлимитное купание в комплексе Thermal - в подарок;

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Комплексный завтрак;

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Посещение тренажерного зала;

                        li.room-options__item
                            .room-options__i
                                svg(viewBox="0 0 9.03 8.55")
                                    polyline(points="1 5.69 2.92 7.55 8.03 1").cls-1

                            .room-options__text
                                | Пользование охраняемой автостоянкой;