.advertising

    .container

        .advertising__slider

            ul.advertising__slider-w

                li(data-src="./assets/img/content/r-advertising-1.jpg").advertising__item
                    a(href="#").advertising__link
                        img(src="./assets/img/content/r-advertising-1.jpg" alt="")

                li(data-src="./assets/img/content/r-advertising-2.jpg").advertising__item
                    a(href="#").advertising__link
                        img(src="./assets/img/content/r-advertising-2.jpg" alt="")

                li(data-src="./assets/img/content/r-advertising-1.jpg").advertising__item
                    a(href="#").advertising__link
                        img(src="./assets/img/content/r-advertising-1.jpg" alt="")

                li(data-src="./assets/img/content/r-advertising-2.jpg").advertising__item
                    a(href="#").advertising__link
                        img(src="./assets/img/content/r-advertising-2.jpg" alt="")