section.gallery

    .container

        .gallery__slider

            ul.gallery__slider-w.gallery__lightgallery

                li(data-src="./assets/img/content/hs-gallery-1.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-2.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-2.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-3.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-2.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-2.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-3.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-2.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-2.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-3.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-2.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-2.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-3.jpg" alt="")

                li(data-src="./assets/img/content/hs-gallery-1.jpg").gallery__item
                    a(href="#").gallery__link
                        img(src="./assets/img/content/r-gallery-1.jpg" alt="")