.overlay

.header-wrap
    header.header
        .navigation
            .navigation__arrow

            .navigation__wrap
                .navigation__logo
                    img(src="./assets/img/content/main-logo.png" alt="")
                .navigation-block
                    .navigation-block__legend
                        span.navigation-block__top комплекс
                        span.navigation-block__bottom Thermal
                    ul.navigation__items
                        li.navigation__item
                            a(href="#").navigation__link Горячий источник
                        li.navigation__item
                            a(href="#").navigation__link Закрытый бассейн
                        li.navigation__item
                            a(href="#").navigation__link Комплекс саун
                        li.navigation__item
                            a(href="#").navigation__link Детям
                        li.navigation__item
                            a(href="#").navigation__link Spa и фитнес
                        li.navigation__item
                            a(href="#").navigation__link Кафе
                    .navigation-block__price 
                        | от 
                        span 220
                        | руб.

                ul.navigation__items.navigation__items--line-wrap.js-navigation__items
                    li(data-block="rest").navigation__item.navigation__item--line
                        a(href="#").navigation__link Рестораны
                    li(data-block="num").navigation__item.navigation__item--line
                        a(href="#").navigation__link Номера
                    li(data-block="sw").navigation__item.navigation__item--line
                        a(href="#").navigation__link Свадьбы и банкеты
                    li(data-block="recr").navigation__item.navigation__item--line
                        a(href="#").navigation__link Отдых
                    li(data-block="tour").navigation__item.navigation__item--line
                        a(href="#").navigation__link Автобусный тур
                a(href="#").btn-nav.btn-nav--ticket Купить билет
                a(href="#").btn-nav.btn-nav--room Найти номер
                a(href="tel:+7 351 200 3333").header__phone +7 351 200 3333

            .menu-hover
                div(data-block="rest").menu-hover__inner
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name De Luxe
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Люкс двухкомнатный
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Люкс двухкомнатный
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Полулюкс
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Стандарт +
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Стандарт
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Эконом
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Коттедж в аренду с сауной (10 человек)
                            span.item__price 
                                | от 2 500 руб.

                div(data-block="num").menu-hover__inner
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name De Luxe
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Люкс двухкомнатный
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Люкс двухкомнатный
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Полулюкс
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Стандарт +
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Стандарт
                            span.item__price 
                                | от 2 500 руб.

                div(data-block="sw").menu-hover__inner
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name De Luxe
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Люкс двухкомнатный
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Люкс двухкомнатный
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Полулюкс
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Стандарт +
                            span.item__price 
                                | от 2 500 руб.
                    
                div(data-block="recr").menu-hover__inner
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name De Luxe
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Люкс двухкомнатный
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Люкс двухкомнатный
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Полулюкс
                            span.item__price 
                                | от 2 500 руб.

                div(data-block="tour").menu-hover__inner
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name De Luxe
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Люкс двухкомнатный
                            span.item__price 
                                | от 2 500 руб.
                    a(href="#").item
                        .item__img-wrap
                            img(src="./assets/img/content/item1.jpg").item__img
                        .item__block
                            .item__name-wrap
                                span.item__name Люкс двухкомнатный
                            span.item__price 
                                | от 2 500 руб.

        .header__services
            img(src="./assets/img/content/ht-logo.png").logo-fix
            .hamburger
                .burger-menu.burger-menu--closed
                    .bar
                    .bar
                    .bar
                span.hamburger-label Все услуги
        nav.nav
            ul.nav__items
                li.nav__item 
                    a(href="#") Акции
                li.nav__item
                    a(href="#") Новинки
                li.nav__item
                    a(href="#") Мероприятия
                li.nav__item
                    a(href="#") Фото и видео
                li.nav__item
                    a(href="#") Продажа аппартаментов
                li.nav__item
                    a(href="#") Контакты
        .header__contact
            a(href="tel:+7 351 200 3333").header__phone +7 351 200 3333
                svg(viewBox="0 0 15.95 15.95")
                    g
                        path(d="M4.3,5.73a1.85,1.85,0,0,0,2.39,0,1.78,1.78,0,0,0-.23-2.48l-2-2A2.08,2.08,0,0,0,1.55,1L1,1.48A1.8,1.8,0,0,0,.5,2.81a13,13,0,0,0,4,8.69,13,13,0,0,0,8.69,4,1.8,1.8,0,0,0,1.32-.53l.51-.51a2.08,2.08,0,0,0-.27-2.9l-2-2a1.78,1.78,0,0,0-2.48-.23,1.85,1.85,0,0,0,0,2.39").cls-1
                        
            a(href="").header__sodial.header__sodial--vk
                svg(viewBox="0 0 18 14")
                    g
                        polyline(points="0.5 0.5 10.5 13.5 10.5 0.5 8.5 0.5").cls-1
                        polyline(points="17.5 0.5 10.5 7.5 17.5 13.5").cls-1

            a(href="").header__sodial.header__sodial--inst
                svg(viewBox="0 0 17 17")
                    g
                        rect(x="0.5" y="0.5" width="16" height="16").cls-1
                        circle(cx="8.5" cy="8.5" r="3.08").cls-1
                        circle(cx="13.42" cy="3.58" r="0.62").cls-1
        a(href="").header__phone-link
            img(src="./assets/img/icons/ht-phone.png" alt="")

    .header-laptop
        nav.nav
            ul.nav__items
                li.nav__item.nav__item--all
                    a(href="") Все услуги
                li.nav__item
                    a(href="") Акции
                li.nav__item
                    a(href="") Новинки
                li.nav__item
                    a(href="") Мероприятия
                li.nav__item
                    a(href="") Фото и видео
                li.nav__item
                    a(href="") Продажа аппартаментов
                li.nav__item
                    a(href="") Контакты
        .header__contact
            a(href="tel:+7 351 200 3333").header__phone-link +7 351 200 3333
            a(href="#").header__sodial.header__sodial--vk
            a(href="#").header__sodial.header__sodial--inst