section.reviews

    .container

        .reviews__title
            .reviews__text
                | Отзывы

        .reviews__slider

            ul.reviews__slider-w.room-reviews__lightgallery

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").reviews__slide
                    a(href="#").reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls1.jpg" alt="").reviews__pic

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").reviews__slide
                    a(href="#").room-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls2.jpg" alt="").reviews__pic

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").reviews__slide
                    a(href="#").reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls2.jpg" alt="").reviews__pic

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").reviews__slide
                    a(href="#").reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls2.jpg" alt="").reviews__pic