.tabs__wrap

	.tabs__content-item
		.entertainment-wrap

			.entertainment
				.entertainment-slider
					.entertainment__slide
						img(src="./assets/img/content/img1.jpg")
					.entertainment__slide
						img(src="./assets/img/content/img2.jpg")
					.entertainment__slide
						img(src="./assets/img/content/img3.jpg")
				.entertainment-slider-control
				.entertainment__content
					.entertainment__top
						span.entertainment__title Пять мангальных зон и небольшие беседки на пляже
						span.entertainment__price от 300 руб./час
					.entertainment__bottom
						span.entertainment__text
							| Пять мангальных зон: три расположены на территории комплекса и две - на пляже (500р./час). Также небольшие беседки на пляже (300 р./час).
			.entertainment
				.entertainment-slider
					.entertainment__slide
						img(src="./assets/img/content/img4.jpg")
					.entertainment__slide
						img(src="./assets/img/content/img2.jpg")
					.entertainment__slide
						img(src="./assets/img/content/img3.jpg")
				.entertainment-slider-control
				.entertainment__content
					.entertainment__top
						span.entertainment__title Пять мангальных зон и небольшие беседки на пляже
						span.entertainment__price от 300 руб./час
					.entertainment__bottom
						span.entertainment__text
							| Пять мангальных зон: три расположены на территории комплекса и две - на пляже (500р./час). Также небольшие беседки на пляже (300 р./час).

			.entertainment
				.entertainment-slider
					.entertainment__slide
						img(src="./assets/img/content/img5.jpg")
					.entertainment__slide
						img(src="./assets/img/content/img2.jpg")
					.entertainment__slide
						img(src="./assets/img/content/img3.jpg")
				.entertainment-slider-control
				.entertainment__content
					.entertainment__top
						span.entertainment__title Пять мангальных зон и небольшие беседки на пляже
						span.entertainment__price от 300 руб./час
					.entertainment__bottom
						span.entertainment__text
							| Пять мангальных зон: три расположены на территории комплекса и две - на пляже (500р./час). Также небольшие беседки на пляже (300 р./час).

			.entertainment
				.entertainment-slider
					.entertainment__slide
						img(src="./assets/img/content/img6.jpg")
					.entertainment__slide
						img(src="./assets/img/content/img2.jpg")
					.entertainment__slide
						img(src="./assets/img/content/img3.jpg")
				.entertainment-slider-control
				.entertainment__content
					.entertainment__top
						span.entertainment__title Пять мангальных зон и небольшие беседки на пляже
						span.entertainment__price от 300 руб./час
					.entertainment__bottom
						span.entertainment__text
							| Пять мангальных зон: три расположены на территории комплекса и две - на пляже (500р./час). Также небольшие беседки на пляже (300 р./час).

			.entertainment
				.entertainment-slider
					.entertainment__slide
						img(src="./assets/img/content/img7.jpg")
					.entertainment__slide
						img(src="./assets/img/content/img2.jpg")
					.entertainment__slide
						img(src="./assets/img/content/img3.jpg")
				.entertainment-slider-control
				.entertainment__content
					.entertainment__top
						span.entertainment__title Пять мангальных зон и небольшие беседки на пляже
						span.entertainment__price от 300 руб./час
					.entertainment__bottom
						span.entertainment__text
							| Пять мангальных зон: три расположены на территории комплекса и две - на пляже (500р./час). Также небольшие беседки на пляже (300 р./час).

			.entertainment
				.entertainment-slider
					.entertainment__slide
						img(src="./assets/img/content/img8.jpg")
					.entertainment__slide
						img(src="./assets/img/content/img2.jpg")
					.entertainment__slide
						img(src="./assets/img/content/img3.jpg")
				.entertainment-slider-control
				.entertainment__content
					.entertainment__top
						span.entertainment__title Пять мангальных зон и небольшие беседки на пляже
						span.entertainment__price от 300 руб./час
					.entertainment__bottom
						span.entertainment__text
							| Пять мангальных зон: три расположены на территории комплекса и две - на пляже (500р./час). Также небольшие беседки на пляже (300 р./час).