section.bt-logo-top
    .logo-top__block
        .container
            .logo-top__breadcrumbs
                a(href="#").logo-top__main.logo-top__bd-text
                    | Главная

                .logo-top__main.logo-top__bd-text
                    .logo-top__bd-arrow
                        svg(viewBox="0 0 5 8")
                            g
                                g
                                    polyline(points="1 1 4 4 1 7").cls-1

                .logo-top__hotsprings.logo-top__bd-text
                    | Автобусный тур

        .logo-top__wrapper

            .logo-top__title
                span.logo-top__word-t Автобусный
                span.logo-top__word  тур

            // .logo-top__text
                p
                    | У всех гостей терма курорта «Баден-Баден» есть уникальная возможность купаться на открытом
                p
                    | воздухе круглый год, несмотря на зимние морозы и прохладное уральское лето!

            .logo-top__wave
                .logo-top__wave-b
                    svg(viewBox="0 0 281 13.74").animateSVG
                        g
                            path(d="M.5,10.08,11.75,3.65a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0L81.75,3.65a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0l11.25-6.43a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0l11.25-6.43a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0").cls-1