section.aprt-apartments

    ul.aprt-apartments__list

        li.aprt-apartments__item

            .container

                .aprt-apartments__name

                    .aprt-apartments__name-w

                        a(href="#").aprt-apartments__link
                            img(src="./assets/img/content/apartments-1.jpg" alt="apartments-1")

                        .aprt-apartments__content

                            .aprt-apartments__description
                                a(href="#").aprt-apartments__title
                                    | Luxe
                                .aprt-apartments__desc
                                    | Однокомнатный номер с двуспальной кроватью и диваном.
                            .aprt-apartments__price
                                | от 6 200 руб.

                            .aprt-apartments__buttons

                                a(href="#").aprt-apartments__button-book
                                    span Забронировать

                                a(href="#").aprt-apartments__button-read-more
                                    span Подробнее

                .aprt-apartments__d

                    .aprt-apartments__d-w

                        .aprt-apartments__d-wrapper

                            .aprt-apartments__d-content

                                table.aprt-apartments__d-table

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вместимость:
                                        td.aprt-apartments__d-cell
                                            | до 4х гостей

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Площадь:
                                        td.aprt-apartments__d-cell
                                            | 31 м2

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вид из окна:
                                        td.aprt-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Корпус:
                                        td.aprt-apartments__d-cell
                                            span №3


                            .aprt-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней

        li.aprt-apartments__item.aprt-apartments__item_bg

            .container

                .aprt-apartments__name

                    .aprt-apartments__name-w

                        a(href="#").aprt-apartments__link
                            img(src="./assets/img/content/apartments-2.jpg" alt="apartments-1")

                        .aprt-apartments__content

                            .aprt-apartments__description
                                a(href="#").aprt-apartments__title
                                    | Люкс двухкомнатный
                                .aprt-apartments__desc
                                    | Двухкомнатный номер с двуспальной кроватью и диваном.
                            .aprt-apartments__price
                                | от 8 500 руб.

                            .aprt-apartments__buttons

                                a(href="#").aprt-apartments__button-book
                                    span Забронировать

                                a(href="#").aprt-apartments__button-read-more
                                    span Подробнее

                .aprt-apartments__d

                    .aprt-apartments__d-w

                        .aprt-apartments__d-wrapper

                            .aprt-apartments__d-content

                                table.aprt-apartments__d-table

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вместимость:
                                        td.aprt-apartments__d-cell
                                            | до 4х гостей

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Площадь:
                                        td.aprt-apartments__d-cell
                                            | 31 м2

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вид из окна:
                                        td.aprt-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Корпус:
                                        td.aprt-apartments__d-cell
                                            span №2


                            .aprt-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней
        li.aprt-apartments__item

            .container

                .aprt-apartments__name

                    .aprt-apartments__name-w

                        a(href="#").aprt-apartments__link
                            img(src="./assets/img/content/apartments-3.jpg" alt="apartments-1")

                        .aprt-apartments__content

                            .aprt-apartments__description
                                a(href="#").aprt-apartments__title
                                    | Люкс однокомнатный
                                .aprt-apartments__desc
                                    | Однокомнатный номер с двуспальной кроватью и диваном.
                            .aprt-apartments__price
                                | от 3 000 руб.

                            .aprt-apartments__buttons

                                a(href="#").aprt-apartments__button-book
                                    span Забронировать

                                a(href="#").aprt-apartments__button-read-more
                                    span Подробнее

                .aprt-apartments__d

                    .aprt-apartments__d-w

                        .aprt-apartments__d-wrapper

                            .aprt-apartments__d-content

                                table.aprt-apartments__d-table

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вместимость:
                                        td.aprt-apartments__d-cell
                                            | до 4х гостей

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Площадь:
                                        td.aprt-apartments__d-cell
                                            | 31 м2

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вид из окна:
                                        td.aprt-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Корпус:
                                        td.aprt-apartments__d-cell
                                            span №3


                            .aprt-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней
        li.aprt-apartments__item.aprt-apartments__item_bg

            .container

                .aprt-apartments__name

                    .aprt-apartments__name-w

                        a(href="#").aprt-apartments__link
                            img(src="./assets/img/content/apartments-4.jpg" alt="apartments-4")

                        .aprt-apartments__content

                            .aprt-apartments__description
                                a(href="#").aprt-apartments__title
                                    | Полулюкс - двухкомнатный
                                .aprt-apartments__desc
                                    | Двухкомнатный номер с двуспальной кроватью и диваном.
                            .aprt-apartments__price
                                | от 8 500 руб.

                            .aprt-apartments__buttons

                                a(href="#").aprt-apartments__button-book
                                    span Забронировать

                                a(href="#").aprt-apartments__button-read-more
                                    span Подробнее

                .aprt-apartments__d

                    .aprt-apartments__d-w

                        .aprt-apartments__d-wrapper

                            .aprt-apartments__d-content

                                table.aprt-apartments__d-table

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вместимость:
                                        td.aprt-apartments__d-cell
                                            | до 4х гостей

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Площадь:
                                        td.aprt-apartments__d-cell
                                            | 31 м2

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вид из окна:
                                        td.aprt-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Корпус:
                                        td.aprt-apartments__d-cell
                                            span №3


                            .aprt-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней
        li.aprt-apartments__item

            .container

                .aprt-apartments__name

                    .aprt-apartments__name-w

                        a(href="#").aprt-apartments__link
                            img(src="./assets/img/content/apartments-5.jpg" alt="apartments-5")

                        .aprt-apartments__content

                            .aprt-apartments__description
                                a(href="#").aprt-apartments__title
                                    | Полулюкс - однокомнатный
                                .aprt-apartments__desc
                                    | Однокомнатный номер с двуспальной кроватью и диваном.
                            .aprt-apartments__price
                                | от 4 700 руб.

                            .aprt-apartments__buttons

                                a(href="#").aprt-apartments__button-book
                                    span Забронировать

                                a(href="#").aprt-apartments__button-read-more
                                    span Подробнее

                .aprt-apartments__d

                    .aprt-apartments__d-w

                        .aprt-apartments__d-wrapper

                            .aprt-apartments__d-content

                                table.aprt-apartments__d-table

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вместимость:
                                        td.aprt-apartments__d-cell
                                            | до 4х гостей

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Площадь:
                                        td.aprt-apartments__d-cell
                                            | 31 м2

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вид из окна:
                                        td.aprt-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Корпус:
                                        td.aprt-apartments__d-cell
                                            span №3


                            .aprt-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней
        li.aprt-apartments__item.aprt-apartments__item_bg

            .container

                .aprt-apartments__name

                    .aprt-apartments__name-w

                        a(href="#").aprt-apartments__link
                            img(src="./assets/img/content/apartments-6.jpg" alt="apartments-6")

                        .aprt-apartments__content

                            .aprt-apartments__description
                                a(href="#").aprt-apartments__title
                                    | Стандарт
                                .aprt-apartments__desc
                                    | Двухкомнатный номер с двуспальной кроватью и диваном.
                            .aprt-apartments__price
                                | от 3 000 руб.

                            .aprt-apartments__buttons

                                a(href="#").aprt-apartments__button-book
                                    span Забронировать

                                a(href="#").aprt-apartments__button-read-more
                                    span Подробнее

                .aprt-apartments__d

                    .aprt-apartments__d-w

                        .aprt-apartments__d-wrapper

                            .aprt-apartments__d-content

                                table.aprt-apartments__d-table

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вместимость:
                                        td.aprt-apartments__d-cell
                                            | до 4х гостей

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Площадь:
                                        td.aprt-apartments__d-cell
                                            | 31 м2

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вид из окна:
                                        td.aprt-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Корпус:
                                        td.aprt-apartments__d-cell
                                            span №2


                            .aprt-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней
        li.aprt-apartments__item

            .container

                .aprt-apartments__name

                    .aprt-apartments__name-w

                        a(href="#").aprt-apartments__link
                            img(src="./assets/img/content/apartments-7.jpg" alt="apartments-7")

                        .aprt-apartments__content

                            .aprt-apartments__description
                                a(href="#").aprt-apartments__title
                                    | Эконом
                                .aprt-apartments__desc
                                    | Однокомнатный номер с двуспальной кроватью и диваном.
                            .aprt-apartments__price
                                | от 7 900 руб.

                            .aprt-apartments__buttons

                                a(href="#").aprt-apartments__button-book
                                    span Забронировать

                                a(href="#").aprt-apartments__button-read-more
                                    span Подробнее

                .aprt-apartments__d

                    .aprt-apartments__d-w

                        .aprt-apartments__d-wrapper

                            .aprt-apartments__d-content

                                table.aprt-apartments__d-table

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вместимость:
                                        td.aprt-apartments__d-cell
                                            | до 4х гостей

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Площадь:
                                        td.aprt-apartments__d-cell
                                            | 31 м2

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вид из окна:
                                        td.aprt-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Корпус:
                                        td.aprt-apartments__d-cell
                                            span №3


                            .aprt-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней
        li.aprt-apartments__item.aprt-apartments__item_bg

            .container

                .aprt-apartments__name

                    .aprt-apartments__name-w

                        a(href="#").aprt-apartments__link
                            img(src="./assets/img/content/apartments-2.jpg" alt="apartments-1")

                        .aprt-apartments__content

                            .aprt-apartments__description
                                a(href="#").aprt-apartments__title
                                    | Коттедж
                                    span  №
                                    | 1 (с мангальной зоной)
                                .aprt-apartments__desc
                                    | Предлагаем уютный коттедж, расположенный в живописном уголке комплекса. Включает все необходимое для комфортного и душевного отдыха: уютные спальни, комнату отдыха и мангальную зону.
                            .aprt-apartments__price
                                | от 7 900 руб.

                            .aprt-apartments__buttons

                                a(href="#").aprt-apartments__button-book
                                    span Забронировать

                                a(href="#").aprt-apartments__button-read-more
                                    span Подробнее

                .aprt-apartments__d

                    .aprt-apartments__d-w

                        .aprt-apartments__d-wrapper

                            .aprt-apartments__d-content

                                table.aprt-apartments__d-table

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вместимость:
                                        td.aprt-apartments__d-cell
                                            | до 4х гостей

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Площадь:
                                        td.aprt-apartments__d-cell
                                            | 31 м2

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вид из окна:
                                        td.aprt-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Корпус:
                                        td.aprt-apartments__d-cell
                                            span №2


                            .aprt-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней
        li.aprt-apartments__item

            .container

                .aprt-apartments__name

                    .aprt-apartments__name-w

                        a(href="#").aprt-apartments__link
                            img(src="./assets/img/content/apartments-9.jpg" alt="apartments-9")

                        .aprt-apartments__content

                            .aprt-apartments__description
                                a(href="#").aprt-apartments__title
                                    | Коттедж
                                    span  №
                                    | 2 (с сауной)
                                .aprt-apartments__desc
                                    | Предлагаем отличное решение для отдыха большой компанией, в приватных условиях. Коттедж включает в себя все необходимое для качественного и веселого продолжительного отдыха. Коттедж на 2 этажа, полностью меблирован и содержит всю необходимую технику. Имеются: сауна, бильярд и другие развлечения.
                            .aprt-apartments__price
                                | от 3 000 руб.

                            .aprt-apartments__buttons

                                a(href="#").aprt-apartments__button-book
                                    span Забронировать

                                a(href="#").aprt-apartments__button-read-more
                                    span Подробнее

                .aprt-apartments__d

                    .aprt-apartments__d-w

                        .aprt-apartments__d-wrapper

                            .aprt-apartments__d-content

                                table.aprt-apartments__d-table

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вместимость:
                                        td.aprt-apartments__d-cell
                                            | до 4х гостей

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Площадь:
                                        td.aprt-apartments__d-cell
                                            | 31 м2

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вид из окна:
                                        td.aprt-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Корпус:
                                        td.aprt-apartments__d-cell
                                            span №3


                            .aprt-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней
        li.aprt-apartments__item.aprt-apartments__item_bg.aprt-apartments__item_last

            .container

                .aprt-apartments__name

                    .aprt-apartments__name-w

                        a(href="#").aprt-apartments__link
                            img(src="./assets/img/content/apartments-2.jpg" alt="apartments-1")

                        .aprt-apartments__content

                            .aprt-apartments__description
                                a(href="#").aprt-apartments__title
                                    | Апартаменты с кухней и столовой
                                    span
                                    |
                                .aprt-apartments__desc
                                    | Трехкомнатный номер: кухня-гостиная с диваном (раскладной) и 2 спальни с двуспальными кроватями.
                            .aprt-apartments__price
                                | от 7 900 руб.

                            .aprt-apartments__buttons

                                a(href="#").aprt-apartments__button-book
                                    span Забронировать

                                a(href="#").aprt-apartments__button-read-more
                                    span Подробнее

                .aprt-apartments__d

                    .aprt-apartments__d-w

                        .aprt-apartments__d-wrapper

                            .aprt-apartments__d-content

                                table.aprt-apartments__d-table

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вместимость:
                                        td.aprt-apartments__d-cell
                                            | до 4х гостей

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Площадь:
                                        td.aprt-apartments__d-cell
                                            | 31 м2

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Вид из окна:
                                        td.aprt-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.aprt-apartments__d-row
                                        td.aprt-apartments__d-cell.aprt-apartments__d-cell_t
                                            | Корпус:
                                        td.aprt-apartments__d-cell
                                            span №2


                            .aprt-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней