.aprt-advertising

    .container

        .aprt-advertising__slider

            ul.aprt-advertising__slider-w

                li.aprt-advertising__item
                    a(href="#").aprt-advertising__link
                        img(src="./assets/img/content/banner-apartments-1.jpg" alt="")

                li.aprt-advertising__item
                    a(href="#").aprt-advertising__link
                        img(src="./assets/img/content/banner-apartments-2.jpg" alt="")

                li.aprt-advertising__item
                    a(href="#").aprt-advertising__link
                        img(src="./assets/img/content/banner-apartments-1.jpg" alt="")

                li.aprt-advertising__item
                    a(href="#").aprt-advertising__link
                        img(src="./assets/img/content/banner-apartments-2.jpg" alt="")