header.header
    .m-header__top
        .container
            .m-ht__logo
                a(href="#").m-ht__logo-link
                    img(src="./assets/img/content/ht-logo.png" alt="")

            .m-ht__bars

                a(href="#").m-htbars__link
                    .m-htbars__title
                        | Все услуги

            .m-ht__menu
                ul.m-ht__list-menu
                    li.m-ht__item-menu
                        a(href="#").m-ht__link-menu.m-ht__link-menu_i
                            | Акции
                    li.m-ht__item-menu
                        a(href="#").m-ht__link-menu.m-ht__link-menu_i
                            | Новинки
                    li.m-ht__item-menu
                        a(href="#").m-ht__link-menu.m-ht__link-menu_i
                            | Мероприятия
                    li.m-ht__item-menu
                        a(href="#").m-ht__link-menu.m-ht__link-menu_i
                            | Фото и видео
                    li.m-ht__item-menu
                        a(href="#").m-ht__link-menu.m-ht__link-menu_i
                            | Продажа аппартаметов
                    li.m-ht__item-menu
                        a(href="#").m-ht__link-menu
                            | Контакты

            .m-ht__contacts
                ul.m-ht__list-contacts
                    li.m-ht__item-contacts
                        a(href="#").m-ht__link-contacts.m-ht__link-contacts_phone
                            .m-htlcontacts__i_phone
                                svg(viewBox="0 0 15.95 15.95")
                                    g
                                        path(d="M4.3,5.73a1.85,1.85,0,0,0,2.39,0,1.78,1.78,0,0,0-.23-2.48l-2-2A2.08,2.08,0,0,0,1.55,1L1,1.48A1.8,1.8,0,0,0,.5,2.81a13,13,0,0,0,4,8.69,13,13,0,0,0,8.69,4,1.8,1.8,0,0,0,1.32-.53l.51-.51a2.08,2.08,0,0,0-.27-2.9l-2-2a1.78,1.78,0,0,0-2.48-.23,1.85,1.85,0,0,0,0,2.39").cls-1

                            .m-htlcontacts__text
                                | +7 351 200 3333

                    li.m-ht__item-contacts
                        a(href="#").m-ht__link-contacts.m-ht__link-contacts_vk
                            .m-htlcontacts__i_vk
                                svg(viewBox="0 0 18 14")
                                    g
                                        polyline(points="0.5 0.5 10.5 13.5 10.5 0.5 8.5 0.5").cls-1
                                        polyline(points="17.5 0.5 10.5 7.5 17.5 13.5").cls-1

                    li.m-ht__item-contacts
                        a(href="#").m-ht__link-contacts.m-ht__link-contacts_instagram
                            .m-htlcontacts__i_instagram
                                svg(viewBox="0 0 17 17")
                                    g
                                        rect(x="0.5" y="0.5" width="16" height="16").cls-1
                                        circle(cx="8.5" cy="8.5" r="3.08").cls-1
                                        circle(cx="13.42" cy="3.58" r="0.62").cls-1