.main-rooms

    ul.main-rooms__list

        li.main-rooms__item
            a(href="#").main-rooms__link
                .main-rooms__pic
                    img(src="./assets/img/content/rooms-pic-1.jpg" alt="rooms-pic-1")
                .main-rooms__content
                    .main-rooms__title
                        | De Luxe
                    .main-rooms__price
                        | от 2 500 руб.

        li.main-rooms__item
            a(href="#").main-rooms__link
                .main-rooms__pic
                    img(src="./assets/img/content/rooms-pic-1.jpg" alt="rooms-pic-1")
                .main-rooms__content
                    .main-rooms__title
                        | Люкс двухкомнатный
                    .main-rooms__price
                        | от 2 500 руб.

        li.main-rooms__item
            a(href="#").main-rooms__link
                .main-rooms__pic
                    img(src="./assets/img/content/rooms-pic-1.jpg" alt="rooms-pic-1")
                .main-rooms__content
                    .main-rooms__title
                        | Люкс двухкомнатный
                    .main-rooms__price
                        | от 2 500 руб.

        li.main-rooms__item
            a(href="#").main-rooms__link
                .main-rooms__pic
                    img(src="./assets/img/content/rooms-pic-1.jpg" alt="rooms-pic-1")
                .main-rooms__content
                    .main-rooms__title
                        | De Luxe
                    .main-rooms__price
                        | от 2 500 руб.

        li.main-rooms__item
            a(href="#").main-rooms__link
                .main-rooms__pic
                    img(src="./assets/img/content/rooms-pic-1.jpg" alt="rooms-pic-1")
                .main-rooms__content
                    .main-rooms__title
                        | Люкс двухкомнатный
                    .main-rooms__price
                        | от 2 500 руб.

        li.main-rooms__item
            a(href="#").main-rooms__link
                .main-rooms__pic
                    img(src="./assets/img/content/rooms-pic-1.jpg" alt="rooms-pic-1")
                .main-rooms__content
                    .main-rooms__title
                        | Люкс двухкомнатный
                    .main-rooms__price
                        | от 2 500 руб.

        li.main-rooms__item
            a(href="#").main-rooms__link
                .main-rooms__pic
                    img(src="./assets/img/content/rooms-pic-1.jpg" alt="rooms-pic-1")
                .main-rooms__content
                    .main-rooms__title
                        | De Luxe
                    .main-rooms__price
                        | от 2 500 руб.

        li.main-rooms__item
            a(href="#").main-rooms__link
                .main-rooms__pic
                    img(src="./assets/img/content/rooms-pic-1.jpg" alt="rooms-pic-1")
                .main-rooms__content
                    .main-rooms__title
                        | Люкс двухкомнатный
                    .main-rooms__price
                        | от 2 500 руб.

        li.main-rooms__item
            a(href="#").main-rooms__link
                .main-rooms__pic
                    img(src="./assets/img/content/rooms-pic-1.jpg" alt="rooms-pic-1")
                .main-rooms__content
                    .main-rooms__title
                        | Люкс двухкомнатный
                    .main-rooms__price
                        | от 2 500 руб.