.hs-gallery__slider

    ul.hs-gallery__slider-w.hs-gallery__lightgallery

        .hs-gallery__item-slider-wrap
            .hs-gallery__item.hs-gallery__item-slider-w
                div
                    a(href="#")
                        img(src="./assets/img/content/banner-promotions.jpg" alt="")
                div
                    a(href="#")
                        img(src="./assets/img/content/banner-loyalty.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-1.jpg" alt="")
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-2.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-2.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-4.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-4.jpg" alt="")


        li(data-src="./assets/img/content/hs-gallery-2.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-2.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-4.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-4.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-2.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-2.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-4.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-4.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-2.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-2.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

        li(data-src="./assets/img/content/hs-gallery-4.jpg").hs-gallery__item
            a(href="#").hs-gallery__link
                img(src="./assets/img/content/hs-gallery-4.jpg" alt="")