section.child-logo-top
    .container
        .child-logo__bcrumbs
            ul.child-logo__bcrumbs-list
                li.child-logo__bcrumbs-item
                    | Главная

                li.child-logo__bcrumbs-item
                    .child-logo__bcrumbs-item-i
                        svg(viewBox="0 0 5 8")
                            g
                                polyline(points="1 1 4 4 1 7").cls-1

                li.child-logo__bcrumbs-item
                    a(href="#").child-logo__bcrumbs-link
                        | детям

        .child-logo__title
            span.child-logo__word-t Детям

        .child-logo__text
            p
                | «Баден-Баден Лесная сказка» — идеальное место для семейного отдыха. Мы создали все условия,
            p
                | чтобы Ваши дети провели время весело, интересно и с пользой!

        .child-logo__wave
            svg(viewBox="0 0 281 13.74")
                path(d="M.5,10.08,11.75,3.65a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0L81.75,3.65a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0l11.25-6.43a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0l11.25-6.43a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0").cls-1