.child-advertising

    .container

        .child-advertising__slider

            ul.child-advertising__slider-w

                li.child-advertising__item
                    a(href="#").child-advertising__link
                        img(src="./assets/img/content/banner-child.jpg" alt="")

                li.child-advertising__item
                    a(href="#").child-advertising__link
                        img(src="./assets/img/content/banner-promotions.jpg" alt="")

                li.child-advertising__item
                    a(href="#").child-advertising__link
                        img(src="./assets/img/content/banner-child.jpg" alt="")

                li.child-advertising__item
                    a(href="#").child-advertising__link
                        img(src="./assets/img/content/banner-promotions.jpg" alt="")