section.content-gallery
	.row
		.title-wrap
			h2
				span Д
				| етские зоны для купания

	.content-gallery__desc
		| В бассейнах комплекса Thermal имеются специально-оборудованные безопасные детские зоны для купания: с ограждениями, водопадами и водной горкой

	.container
		.content-gallery__slider
			img(src="./assets/img/content/hs-gallery-1.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-2.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-3.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-4.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-2.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-3.jpg").content-gallery__slide

section.content-gallery
	.row
		.title-wrap
			h2
				span Д
				| етская комната

	.content-gallery__desc
		| Тут же, в комплексе размещена детская комната с игрушками и развлечениями для детей всех возрастов

	.container
		.content-gallery__slider
			img(src="./assets/img/content/hs-gallery-1.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-2.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-3.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-4.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-2.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-3.jpg").content-gallery__slide

section.content-gallery
	.row
		.title-wrap
			h2
				span И
				| гровая площадка

	.content-gallery__desc
		| Возле внутреннего бассейна находится спортивный батут. На территории курорта расположена современная игровая площадка

	.container
		.content-gallery__slider
			img(src="./assets/img/content/hs-gallery-1.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-2.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-3.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-4.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-2.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-3.jpg").content-gallery__slide

section.content-gallery
	.row
		.title-wrap
			h2
				span К
				| онтактный зоопарк

	.content-gallery__desc
		| Общение с животными дарит малышам непередаваемые эмоции, учит их доброте и заботе. В зоопарке живут очаровательные кролики, милые козочки, трогательные пони, енотики, домашние птицы и красавец жеребец Зорро. Зверушек можно гладить и кормить специальным кормом.

	.container
		.content-gallery__slider
			img(src="./assets/img/content/hs-gallery-1.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-2.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-3.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-4.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-2.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-3.jpg").content-gallery__slide

section.content-gallery
	.row
		.title-wrap
			h2
				span П
				| лощадка для мини-футбола

	.content-gallery__desc
		| Маленьким спортсменам мы предлагаем площадку для мини-футбола с искусственным газоном и прокат спортинвентаря: велосипедов, самокатов, роликов, теннисных ракеток, а зимой — коньков, лыж, санок и тюбингов. На пляже также оборудована детская аква-зона для безопасного купания. Мы приготовили для малышей надувные игрушки, круги и мячи.

	.container
		.content-gallery__slider
			img(src="./assets/img/content/hs-gallery-1.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-2.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-3.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-4.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-2.jpg").content-gallery__slide
			img(src="./assets/img/content/hs-gallery-3.jpg").content-gallery__slide