section.hs-cwater
    // .container__wrapper
    .container
        ul.hs-cwater__list
            li.hs-cwater__item.hs-cwater__item-listcontent
                .hs-cwater__content
                    .hs-cwater__title
                        | Состав воды
                    .hs-cwater__text
                        | состав минеральной воды в бассейне:

                table.hs-cwater__table
                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br.hs-cwater__cell_bt
                            | Показатели
                        td.hs-cwater__cell.hs-cwater__cell_bt.hs-cwater__cell_bg
                            | Фактическое значение мг/дм
                            sup 2

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br.hs-cwater__cell_bt
                            | Бор
                        td.hs-cwater__cell.hs-cwater__cell_bt
                            | 0,55±0,09

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br
                            | Марганец (Mn, суммарно)
                        td.hs-cwater__cell
                            | менее 0,01

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br
                            | Цинк
                        td.hs-cwater__cell
                            | 0,089±0,026

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br
                            | Кадмий (Cd, суммарно)
                        td.hs-cwater__cell
                            | менее 0,0001

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br
                            | Бикарбонаты (HCO3)
                        td.hs-cwater__cell
                            | 73,2±8,8

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br
                            | Бромид-ион
                        td.hs-cwater__cell
                            | менее 0,01

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br
                            | Нитраты (по No3-)
                        td.hs-cwater__cell
                            | 22,5±2,7

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br
                            | Сульфаты (So4 2-)
                        td.hs-cwater__cell
                            | 545±60

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br
                            | Железо
                        td.hs-cwater__cell
                            | менее 0,1

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br
                            | Кальций
                        td.hs-cwater__cell
                            | 292,58±0,02

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br
                            | Магний
                        td.hs-cwater__cell
                            | 166,59±0,02

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br
                            | Йод (J)
                        td.hs-cwater__cell
                            | менее 0,02

                    tr.hs-cwater__row
                        td.hs-cwater__cell.hs-cwater__cell_br
                            | Натрий
                        td.hs-cwater__cell
                            | 2764±280

            li.hs-cwater__item.hs-cwater__item-bg