section.hs-fullprice.animate(data-animate="animatesvgFullprice")
    .container
        ul.hs-fullprice__list
            li.hs-fullprice__item
                .hs-fullprice__item-i
                    .hs-fullprice__item-i-w
                        .hs-fullprice__item-doc
                            svg(viewBox="0 0 8000 8000").svg__fullprice
                                g
                                    path(d="M5250 200l1800 1900 0 5150c0,302 -248,550 -550,550l-5000 0c-302,0 -550,-248 -550,-550l0 -6500c0,-303 247,-550 550,-550l3750 0 0 1900 1800 0").fil0.str0
                                    line(x1="4050" y1="3100" x2="4050" y2= "5950").fil0.str0
                                    polyline(points="5262,4738 4050,5950 2838,4738").fil0.str0

                .hs-fullprice__item-content
                    .hs-fullprice__item-title
                        | Полный прайс
                    .hs-fullprice__item-text
                        | Вы также можете посетить термальный комплекс, купив билет на 2, 4, 5 часов
                a(href="#").hs-fullprice__item-button
                    span Скачать

            li.hs-fullprice__item
                .hs-fullprice__item-i
                    .hs-fullprice__item-i-w
                        .hs-fullprice__item-bus
                            svg(viewBox="0 0 8000 8000").svg__bus
                                g
                                    path(d="M4975 200l0 788c0,61 -50,112 -112,112l-1726 0c-62,0 -112,-50 -112,-112l0 -788m1950 0l1425 0c289,0 525,236 525,525l0 5950c0,289 -236,525 -525,525l-4800 0c-289,0 -525,-236 -525,-525l0 -5950c0,-289 236,-525 525,-525l3375 0z").fil0.str0

                                    path(d="M6925 3756c-753,274 -1786,444 -2925,444 -1136,0 -2172,-171 -2925,-444").fil0.str0

                                    path(d="M4175 3600c583,0 1167,0 1750,0").fil0.str0

                                    path(d="M4741 3600c0,0 -171,391 -419,595").fil0.str0

                                    path(d="M2425 7200l0 356c0,134 -110,244 -244,244l-337 0c-134,0 -244,-110 -244,-244l0 -356m-525 -4000l-300 0c-220,0 -400,-180 -400,-400l0 -900c0,-220 180,-400 400,-400l300 0m5850 1700l300 0c220,0 400,-180 400,-400l0 -900c0,-220 -180,-400 -400,-400l-300 0m-525 5700l0 356c0,134 -110,244 -244,244l-337 0c-134,0 -244,-110 -244,-244l0 -356").fil0.str0

                                    path(d="M5991 5381c128,0 234,106 234,234l0 351c0,128 -106,234 -234,234l-3981 0c-129,0 -235,-106 -235,-234l0 -351c0,-128 106,-234 235,-234l3981 0").fil0.str0

                                    path(d="M2875 5400c0,267 0,533 0,800").fil0.str0

                                    path(d="M5125 5400c0,267 0,533 0,800").fil0.str0

                                    path(d="M2725 1750c-267,267 -533,533 -800,800").fil0.str0

                                    path(d="M3475 1900c-450,450 -900,900 -1350,1350").fil0.str0

                .hs-fullprice__item-content
                    .hs-fullprice__item-title
                        | Автобусный тур
                    .hs-fullprice__item-text
                        | Комфортабельный автобус, заберет вас из центра города и увезет прямо в «Лесную сказку»! Затем, после 3-х часов купания также доставит до города!

                a(href="#").hs-fullprice__item-button.hs-fullprice__item-button_bus
                    span Скачать