section.hs-gallery
    .container

        .hs-gallery__title-b
            .hs-gallery__title-pic
                img(src="./assets/img/content/letter-d-gallery.png" alt="")
            .hs-gallery__title
                | Фотогалерея

            .hs-gallery__tabs

                .container

                    .tabs

                        ul.tabs__list
                            li.tabs__item.active.active__item
                                a(href="#").tabs__link.tabs__link_outdoor-pool-f
                                    | Открытый бассейн
                                    span  №
                                    | 1
                            li.tabs__item
                                a(href="#").tabs__link.tabs__link_outdoor-pool-s
                                    | Открытый бассейн
                                    span  №
                                    | 2
                            li.tabs__item
                                a(href="#").tabs__link.tabs__link_outdoor-pool-t
                                    | Открытый бассейн
                                    span  №
                                    | 3

                        .tabs__content

                            .hs-gallery__slider

                                ul.hs-gallery__slider-w.hs-gallery__lightgallery

                                    .hs-gallery__item-slider-wrap
                                        .hs-gallery__item.hs-gallery__item-slider-w
                                            div
                                                a(href="#")
                                                    img(src="./assets/img/content/banner-promotions.jpg" alt="")
                                            div
                                                a(href="#")
                                                    img(src="./assets/img/content/banner-loyalty.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-1.jpg" alt="")
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-2.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-2.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-4.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-4.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-2.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-2.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-4.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-4.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-2.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-2.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-4.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-4.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-2.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-2.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-1.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-1.jpg" alt="")

                                    li(data-src="./assets/img/content/hs-gallery-4.jpg").hs-gallery__item
                                        a(href="#").hs-gallery__link
                                            img(src="./assets/img/content/hs-gallery-4.jpg" alt="")