section.hs-price
    .container
        .hs-price__wrapper
            ul.hs-price__list
                li.hs-price__item.hs-price__item-price
                    .hs-price__title
                        | Прайс
                    .hs-price__text
                        | на посещение комплекса термальных бассейнов
                li.hs-price__item.hs-price__item-list
                    ul.hs-price__list-in
                        li.hs-price__item-in
                            ul.hs-price__item-in-list

                                li.hs-price__item-in-item

                                    .hs-price__item-in-item_check
                                        svg(viewBox="0 0 9 9")
                                            g
                                                polyline(points="1 6 3 8 8 1").cls-1

                                    .hs-price__item-in-item_text
                                        | 5 бассейнов

                                li.hs-price__item-in-item

                                    .hs-price__item-in-item_check
                                        svg(viewBox="0 0 9 9")
                                            g
                                                polyline(points="1 6 3 8 8 1").cls-1

                                    .hs-price__item-in-item_text
                                        | тренажерный зал

                                li.hs-price__item-in-item

                                    .hs-price__item-in-item_check
                                        svg(viewBox="0 0 9 9")
                                            g
                                                polyline(points="1 6 3 8 8 1").cls-1

                                    .hs-price__item-in-item_text
                                        | комлекс бань и хамам

                                li.hs-price__item-in-item

                                    .hs-price__item-in-item_check
                                        svg(viewBox="0 0 9 9")
                                            g
                                                polyline(points="1 6 3 8 8 1").cls-1

                                    .hs-price__item-in-item_text
                                        | соленая пещера

                    ul.hs-price__list-in
                        li.hs-price__item-in
                            ul.hs-price__item-in-list

                                li.hs-price__item-in-item

                                    .hs-price__item-in-item_check
                                        svg(viewBox="0 0 9 9")
                                            g
                                                polyline(points="1 6 3 8 8 1").cls-1

                                    .hs-price__item-in-item_text
                                        | детский игровой центр

                                li.hs-price__item-in-item

                                    .hs-price__item-in-item_check
                                        svg(viewBox="0 0 9 9")
                                            g
                                                polyline(points="1 6 3 8 8 1").cls-1

                                    .hs-price__item-in-item_text
                                        | тренажерный зал

                                li.hs-price__item-in-item

                                    .hs-price__item-in-item_check
                                        svg(viewBox="0 0 9 9")
                                            g
                                                polyline(points="1 6 3 8 8 1").cls-1

                                    .hs-price__item-in-item_text
                                        | контактный зоопарк

                                li.hs-price__item-in-item

                                    .hs-price__item-in-item_check
                                        svg(viewBox="0 0 9 9")
                                            g
                                                polyline(points="1 6 3 8 8 1").cls-1

                                    .hs-price__item-in-item_text
                                        | пляж

                li.hs-price__item.hs-price__item-free
                    .hs-price__free
                        | Снимите номер и получите услуги комплекса Thermal
                        .hs-price__free_b бесплатно

            table.hs-price__block

                tr.hs-price__row
                    td.hs-price__cell.hs-price__cell-top.hs-price__cell_br
                        .hs-price__cell-text
                            | Входной билет
                    td.hs-price__cell.hs-price__cell-top.hs-price__cell_br
                        .hs-price__cell-text
                            | Будни до 18:00
                    td.hs-price__cell.hs-price__cell-top.hs-price__cell_br
                        .hs-price__cell-text
                            | Будни после 18:00
                    td.hs-price__cell.hs-price__cell-top
                        .hs-price__cell-text
                            | Выходные, праздничные дни

                tr.hs-price__row
                    td.hs-price__cell.hs-price__cell_br.hs-price__cell-middle
                        .hs-price__cell-text
                            | Обычный
                    td.hs-price__cell.hs-price__cell_br
                        .hs-price__cell-in
                            | 220 р./1 час
                        .hs-price__cell-in.hs-price__cell-in_grey
                            | 500 р./3 час
                        .hs-price__cell-in
                            | 1 000 р./6 часов
                    td.hs-price__cell.hs-price__cell_br
                        .hs-price__cell-in
                            | 300 р./1 час
                        .hs-price__cell-in.hs-price__cell-in_grey
                            | 700 р./3 час
                        .hs-price__cell-in
                            | 1 200 р./6 часов
                    td.hs-price__cell
                        .hs-price__cell-in
                            | 400 р./1 час
                        .hs-price__cell-in.hs-price__cell-in_grey
                            | 900 р./3 час
                        .hs-price__cell-in
                            | 1 500 р./6 часов

                tr.hs-price__row
                    td.hs-price__cell.hs-price__cell_br.hs-price__cell-bottom
                        .hs-price__cell-text
                            ul.hs-price__row-list
                                li.hs-price__row-item
                                    | Льготная категория:*
                                li.hs-price__row-item
                                    | дети 3-14 лет
                                li.hs-price__row-item
                                    | пенсионеры
                                li.hs-price__row-item
                                    | инвалиды

                    td.hs-price__cell.hs-price__cell_br
                        .hs-price__cell-in.hs-price__cell-in_grey
                            | 220 р./1 час
                        .hs-price__cell-in
                            | 400 р./3 час
                        .hs-price__cell-in.hs-price__cell_height.hs-price__cell-in_grey
                            | 800 р./6 часов
                    td.hs-price__cell.hs-price__cell_br
                        .hs-price__cell-in.hs-price__cell-in_grey
                            | 220 р./1 час
                        .hs-price__cell-in
                            | 500 р./3 час
                        .hs-price__cell-in.hs-price__cell_height.hs-price__cell-in_grey
                            | 960 р./6 часов
                    td.hs-price__cell
                        .hs-price__cell-in.hs-price__cell-in_grey
                            | 250 р./1 час
                        .hs-price__cell-in
                            | 600 р./3 час
                        .hs-price__cell-in.hs-price__cell_height.hs-price__cell-in_grey
                            | 1 200 р./6 часов

            ul.hs-price__bottom
                li.hs-price-b__content.hs-price-b__item
                    .hs-price-b__content-text
                        | * При наличии удостоверяющего документа
                    .hs-price-b__content-text.hs-price-b__c-t
                        | Доплата за каждую минуту дополнительного пребывания:
                    .hs-price-b__c-b
                        .hs-price-b__content-text
                            | Будни до 18:00 - 6 р.
                        .hs-price-b__content-text
                            | Будни после 18:00 - 7 р.
                        .hs-price-b__content-text
                            | Выходные, праздничные дни - 8 р.

                li.hs-priceb__group.hs-price-b__item
                    .hs-priceb__group-wrapper
                        .hs-price-b-group__text
                            | Ежедневно скидки на групповые посещения (от 15 человек).
                        .hs-price-b-group__pic
                            img(src="./assets/img/content/group.png" alt="group")