section.hs-reviews

    .container

        .hs-reviews__title
            .hs-reviews__text
                | Отзывы

        .hs-reviews__slider

            ul.hs-reviews__slider-w

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").hs-reviews__slide
                    a(href="#").hs-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls1.jpg" alt="").hs-reviews__pic
                        img(src="./assets/img/content/video.png" alt="video").hs-reviews__pic-video

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").hs-reviews__slide
                    a(href="#").hs-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls2.jpg" alt="").hs-reviews__pic
                        img(src="./assets/img/content/video.png" alt="video").hs-reviews__pic-video

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").hs-reviews__slide
                    a(href="#").hs-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls3.jpg" alt="").hs-reviews__pic
                        img(src="./assets/img/content/video.png" alt="video").hs-reviews__pic-video

                li(data-src="https://www.youtube.com/watch?v=meBbDqAXago").hs-reviews__slide
                    a(href="#").hs-reviews__slide-w
                        img(src="./assets/img/content/hs-reviews-sls1.jpg" alt="").hs-reviews__pic
                        img(src="./assets/img/content/video.png" alt="video").hs-reviews__pic-video