section.hs-sectionSVG.animate(data-animate="animatesvg")
    .container
        ul.hs-sectionSVG__list
            li.hs-sectionSVG__item
                .hs-sectionSVG__i.hs-sectionSVG__sun
                    svg(width="64px" height="61px" viewBox="0 0 221 211").svg__sun
                        g
                            path(class="fil0 str0" d="M177 105c0,34 -29,62 -65,62 -36,0 -65,-28 -65,-62 0,-34 29,-61 65,-61 36,0 65,27 65,61")
                            path(class="fil0 str0" d="M111 3l0 23m-59 24l-17 -17m151 144l-17 -16m-141 -56l-25 0m215 0l-24 0m-142 56l-17 16m151 -144l-17 17m-58 134l0 23")
                .hs-sectionSVG__content
                    .hs-sectionSVG__title
                        | 35-36° С

                    .hs-sectionSVG__text
                        | летний период

            li.hs-sectionSVG__item
                .hs-sectionSVG__i.hs-sectionSVG__winter
                    svg(width="56px" height="60px" viewBox="0 0 210 227").svg__winter
                        g
                            path(class="fil0 str0" d="M103 34l-33 -18m-33 56l1 -36m-1 36l-33 16m169 64l33 -16m-33 16l-1 36m-135 -36l1 36m-1 -36l-33 -16m169 -64l33 16m-33 -16l-1 -36m-69 151l32 18m-32 -18l-33 18m33 -171l32 -18")
                            path(class="fil0 str0" d="M200 55l-195 116m195 -2l-195 -116m98 -49l0 219")

                .hs-sectionSVG__content
                    .hs-sectionSVG__title
                        | 35-40° С
                    .hs-sectionSVG__text
                        | зимний период

            li.hs-sectionSVG__item
                .hs-sectionSVG__i.hs-sectionSVG__drop
                    svg(width="71px" height="56px" viewBox="0 0 394 311").svg__drop
                        g
                            path(class="fil0 str0" d="M242 223c84,5 147,21 147,41 0,23 -86,42 -192,42 -106,0 -191,-19 -191,-42 0,-20 62,-36 146,-41m71 11c51,3 89,12 89,24 0,14 -51,25 -115,25 -63,0 -115,-11 -115,-25 0,-12 39,-22 90,-24")
                            path(class="fil0 str0" d="M261 175c0,35 -28,64 -64,64 -35,0 -64,-29 -64,-64 0,-35 56,-169 64,-169 9,0 64,134 64,169")

                .hs-sectionSVG__content
                    .hs-sectionSVG__title
                        | Свыше 200 м
                    .hs-sectionSVG__text
                        | Глубина скважины из которой поступает вода

            li.hs-sectionSVG__item
                .hs-sectionSVG__i.hs-sectionSVG__area
                    svg(width="71px" height="60px" viewBox="0 0 488 413").svg__area
                        g
                            path(class="fil0 str0" d="M433 303l0 -193m-55 -55l-268 0m-55 55l0 193m55 55l268 0")
                            path(class="fil0 str0" d="M7 406l103 0 0 -103 -103 0 0 103zm0 -296l103 0 0 -103 -103 0 0 103zm371 0l104 0 0 -103 -104 0 0 103zm0 296l104 0 0 -103 -104 0 0 103z")
                            line(class="fil0 str0" x1="275" y1="172" x2="275" y2= "169")
                            path(class="fil0 str0" d="M275 169c0,-12 -7,-18 -20,-18")
                            line(class="fil0 str0" x1="255" y1="151" x2="222" y2= "153")
                            path(class="fil0 str0" d="M222 153c-15,6 -20,25 -11,38")
                            line(class="fil0 str0" x1="211" y1="191" x2="220" y2= "204")
                            path(class="fil0 str0" d="M220 204c5,6 11,9 19,9")
                            line(class="fil0 str0" x1="239" y1="213" x2="260" y2= "213")
                            path(class="fil0 str0" d="M260 213c9,0 18,6 22,14")
                            line(class="fil0 str0" x1="282" y1="227" x2="284" y2= "232")
                            path(class="fil0 str0" d="M284 232c9,17 -3,36 -22,36")
                            line(class="fil0 str0" x1="262" y1="268" x2="221" y2= "268")
                            path(class="fil0 str0" d="M221 268c-12,0 -21,-9 -21,-21")
                            line(class="fil0 str0" x1="200" y1="247" x2="200" y2= "241")

                .hs-sectionSVG__content
                    .hs-sectionSVG__title
                        | 360 м
                        sup 2
                    .hs-sectionSVG__text
                        | Глубина скважины из которой поступает вода

            li.hs-sectionSVG__item
                .hs-sectionSVG__i.hs-sectionSVG__height
                    svg(width="71px" height="60px" viewBox="0 0 644 541").svg__height
                        g
                            path(class="fil0 str0" d="M631 9l-16 17c-36,37 -88,37 -123,0l-16 -17 -16 17c-36,37 -88,37 -124,0l-16 -17 -16 17c-36,37 -88,37 -123,0l-16 -17 -16 17c-36,37 -88,37 -124,0l-16 -17 0 523 626 0")
                            path(class="fil0 str0" d="M599 135l-45 -45m45 361l-45 45m-45 -45l45 45 0 -406 -45 45")
                            path(class="fil0 str0" d="M238 320c0,-25 20,-45 45,-45")
                            path(class="fil0 str0" d="M283 275c24,0 44,20 44,45m-89 68l0 -208")
                            line(class="fil0 str0" x1="327" y1="320" x2="327" y2= "388")

                .hs-sectionSVG__content
                    .hs-sectionSVG__title
                        | 1,5 м
                    .hs-sectionSVG__text
                        | Максимальная глубина составляет