section.hs-slidertop
    .hs-slidertop__block
        .container
            .hs-slidertop__breadcrumbs
                a(href="#").hs-slidertop__main.hs-slidertop__bd-text
                    | Главная

                .hs-slidertop__main.hs-slidertop__bd-text
                    .hs-slidertop__bd-arrow
                        svg(viewBox="0 0 5 8")
                            g
                                g
                                    polyline(points="1 1 4 4 1 7").cls-1

                .hs-slidertop__hotsprings.hs-slidertop__bd-text
                    | Горячий источник

        .hs-slidertop__wrapper
            .hs-slidertop__letter
                img(src="./assets/img/content/letter-d.png")

            .hs-slidertop__title
                | Горячий источник

            .hs-slidertop__text
                p
                    | У всех гостей терма курорта «Баден-Баден» есть уникальная возможность купаться на открытом
                p
                    | воздухе круглый год, несмотря на зимние морозы и прохладное уральское лето!
            .hs-slidertop__wave
                .hs-slidertop__wave-b
                    svg(viewBox="0 0 281 13.74").animateSVG
                        g
                            path(d="M.5,10.08,11.75,3.65a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0L81.75,3.65a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0l11.25-6.43a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0l11.25-6.43a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0").cls-1