section.hs-stock

    .container

        .hs-stock__title
            .hs-stock__text
                | Акции

        .hs-stock__slider

            ul.hs-stock__slider-w

                li.hs-stock__slider-slide
                    a(href="#").hs-stock__sl-link
                        img(src="./assets/img/content/banner-couple.jpg" alt="")

                li.hs-stock__slider-slide
                    a(href="#").hs-stock__sl-link
                        img(src="./assets/img/content/banner-bus.jpg" alt="")

                li.hs-stock__slider-slide
                    a(href="#").hs-stock__sl-link
                        img(src="./assets/img/content/banner-promotions.jpg" alt="")

                li.hs-stock__slider-slide
                    a(href="#").hs-stock__sl-link
                        img(src="./assets/img/content/banner-loyalty.jpg" alt="")

                li.hs-stock__slider-slide
                    a(href="#").hs-stock__sl-link
                        img(src="./assets/img/content/banner-couple.jpg" alt="")

                li.hs-stock__slider-slide
                    a(href="#").hs-stock__sl-link
                        img(src="./assets/img/content/banner-bus.jpg" alt="")

                li.hs-stock__slider-slide
                    a(href="#").hs-stock__sl-link
                        img(src="./assets/img/content/banner-promotions.jpg" alt="")

                li.hs-stock__slider-slide
                    a(href="#").hs-stock__sl-link
                        img(src="./assets/img/content/banner-loyalty.jpg" alt="")