section.hs-waterfun
    .container
        .hs-waterfun__wrapper
            .hs-waterfun__block
                .hs-waterfun__block-w
                    .hs-waterfun__pic
                        img(src="./assets/img/content/hs-waterfun-d.png")
                    .hs-waterfun__title
                        | Водные развлечения:
                ul.hs-waterfun__list.animate(data-animate="animatesvgWaterfun")
                    li.hs-waterfun__item
                        .hs-waterfun__block-in
                            .hs-waterfun__i
                                svg(viewBox="0 0 78 78").svg_sunincircle
                                    g
                                        ellipse(cx="39.43" cy="39.5" rx="18.77" ry="17.87").cls-1
                                        line(x1="39" y1="10" x2="39" y2="16.65").cls-1
                                        line(x1="39" y1="62.35" x2="39" y2="69").cls-1
                                        line(x1="60.91" y1="18.64" x2="55.98" y2="23.34").cls-1
                                        line(x1="22.02" y1="55.66" x2="17.08" y2="60.36").cls-1
                                        line(x1="69.99" y1="39.5" x2="63.01" y2="39.5").cls-1
                                        line(x1="14.99" y1="39.5" x2="8" y2="39.5").cls-1
                                        line(x1="60.91" y1="60.36" x2="55.98" y2="55.66").cls-1
                                        line(x1="22.02" y1="23.34" x2="17.08" y2="18.64").cls-1
                                        circle(cx="39" cy="39" r="38").cls-1
                            .hs-waterfun__text
                                | 6 гидромассажных установок спины, 2 массажные установки для ног

                        .hs-waterfun__block-in
                            .hs-waterfun__i
                                svg(viewBox="0 0 78 78").svg_sunincircle
                                    g
                                        ellipse(cx="39.43" cy="39.5" rx="18.77" ry="17.87").cls-1
                                        line(x1="39" y1="10" x2="39" y2="16.65").cls-1
                                        line(x1="39" y1="62.35" x2="39" y2="69").cls-1
                                        line(x1="60.91" y1="18.64" x2="55.98" y2="23.34").cls-1
                                        line(x1="22.02" y1="55.66" x2="17.08" y2="60.36").cls-1
                                        line(x1="69.99" y1="39.5" x2="63.01" y2="39.5").cls-1
                                        line(x1="14.99" y1="39.5" x2="8" y2="39.5").cls-1
                                        line(x1="60.91" y1="60.36" x2="55.98" y2="55.66").cls-1
                                        line(x1="22.02" y1="23.34" x2="17.08" y2="18.64").cls-1
                                        circle(cx="39" cy="39" r="38").cls-1
                            .hs-waterfun__text
                                | купель с холодной водой

                        .hs-waterfun__block-in
                            .hs-waterfun__i
                                svg(viewBox="0 0 78 78").svg_sunincircle
                                    g
                                        ellipse(cx="39.43" cy="39.5" rx="18.77" ry="17.87").cls-1
                                        line(x1="39" y1="10" x2="39" y2="16.65").cls-1
                                        line(x1="39" y1="62.35" x2="39" y2="69").cls-1
                                        line(x1="60.91" y1="18.64" x2="55.98" y2="23.34").cls-1
                                        line(x1="22.02" y1="55.66" x2="17.08" y2="60.36").cls-1
                                        line(x1="69.99" y1="39.5" x2="63.01" y2="39.5").cls-1
                                        line(x1="14.99" y1="39.5" x2="8" y2="39.5").cls-1
                                        line(x1="60.91" y1="60.36" x2="55.98" y2="55.66").cls-1
                                        line(x1="22.02" y1="23.34" x2="17.08" y2="18.64").cls-1
                                        circle(cx="39" cy="39" r="38").cls-1
                            .hs-waterfun__text
                                | два каскадных водопада «Виктория»

                        .hs-waterfun__block-in
                            .hs-waterfun__i
                                svg(viewBox="0 0 78 78").svg__snowflakeincircle
                                    g
                                        line(x1="38.37" y1="10" x2="38.37" y2="68.5").cls-1
                                        line(x1="38.37" y1="18.16" x2="29.79" y2="13.4").cls-1
                                        line(x1="38.37" y1="18.16" x2="46.95" y2="13.4").cls-1
                                        line(x1="38.37" y1="58.98" x2="29.79" y2="63.74").cls-1
                                        line(x1="38.37" y1="58.98" x2="46.95" y2="63.74").cls-1
                                        line(x1="64.45" y1="23.78" x2="12.29" y2="54.72").cls-1
                                        line(x1="57.17" y1="28.1" x2="56.88" y2="18.65").cls-1
                                        line(x1="57.17" y1="28.1" x2="65.96" y2="32.51").cls-1
                                        line(x1="20.78" y1="49.68" x2="12" y2="45.27").cls-1
                                        line(x1="20.78" y1="49.68" x2="21.07" y2="59.13").cls-1
                                        line(x1="64.45" y1="54" x2="12.29" y2="23.06").cls-1
                                        line(x1="57.17" y1="49.68" x2="56.88" y2="59.13").cls-1
                                        line(x1="57.17" y1="49.68" x2="65.96" y2="45.27").cls-1
                                        line(x1="20.78" y1="28.1" x2="12" y2="32.51").cls-1
                                        line(x1="20.78" y1="28.1" x2="21.07" y2="18.65").cls-1
                                        circle(cx="39" cy="39" r="38").cls-1

                            .hs-waterfun__text
                                | два каскадных водопада «Виктория»

                        .hs-waterfun__block-in
                            .hs-waterfun__i
                                svg(viewBox="0 0 78 78").svg__snowflakeincircle
                                    g
                                        line(x1="38.37" y1="10" x2="38.37" y2="68.5").cls-1
                                        line(x1="38.37" y1="18.16" x2="29.79" y2="13.4").cls-1
                                        line(x1="38.37" y1="18.16" x2="46.95" y2="13.4").cls-1
                                        line(x1="38.37" y1="58.98" x2="29.79" y2="63.74").cls-1
                                        line(x1="38.37" y1="58.98" x2="46.95" y2="63.74").cls-1
                                        line(x1="64.45" y1="23.78" x2="12.29" y2="54.72").cls-1
                                        line(x1="57.17" y1="28.1" x2="56.88" y2="18.65").cls-1
                                        line(x1="57.17" y1="28.1" x2="65.96" y2="32.51").cls-1
                                        line(x1="20.78" y1="49.68" x2="12" y2="45.27").cls-1
                                        line(x1="20.78" y1="49.68" x2="21.07" y2="59.13").cls-1
                                        line(x1="64.45" y1="54" x2="12.29" y2="23.06").cls-1
                                        line(x1="57.17" y1="49.68" x2="56.88" y2="59.13").cls-1
                                        line(x1="57.17" y1="49.68" x2="65.96" y2="45.27").cls-1
                                        line(x1="20.78" y1="28.1" x2="12" y2="32.51").cls-1
                                        line(x1="20.78" y1="28.1" x2="21.07" y2="18.65").cls-1
                                        circle(cx="39" cy="39" r="38").cls-1

                            .hs-waterfun__text
                                | два каскадных водопада «Виктория»

                        .hs-waterfun__block-in
                            .hs-waterfun__i
                                svg(viewBox="0 0 78 78").svg__snowflakeincircle
                                    g
                                        line(x1="38.37" y1="10" x2="38.37" y2="68.5").cls-1
                                        line(x1="38.37" y1="18.16" x2="29.79" y2="13.4").cls-1
                                        line(x1="38.37" y1="18.16" x2="46.95" y2="13.4").cls-1
                                        line(x1="38.37" y1="58.98" x2="29.79" y2="63.74").cls-1
                                        line(x1="38.37" y1="58.98" x2="46.95" y2="63.74").cls-1
                                        line(x1="64.45" y1="23.78" x2="12.29" y2="54.72").cls-1
                                        line(x1="57.17" y1="28.1" x2="56.88" y2="18.65").cls-1
                                        line(x1="57.17" y1="28.1" x2="65.96" y2="32.51").cls-1
                                        line(x1="20.78" y1="49.68" x2="12" y2="45.27").cls-1
                                        line(x1="20.78" y1="49.68" x2="21.07" y2="59.13").cls-1
                                        line(x1="64.45" y1="54" x2="12.29" y2="23.06").cls-1
                                        line(x1="57.17" y1="49.68" x2="56.88" y2="59.13").cls-1
                                        line(x1="57.17" y1="49.68" x2="65.96" y2="45.27").cls-1
                                        line(x1="20.78" y1="28.1" x2="12" y2="32.51").cls-1
                                        line(x1="20.78" y1="28.1" x2="21.07" y2="18.65").cls-1
                                        circle(cx="39" cy="39" r="38").cls-1

                            .hs-waterfun__text
                                | два каскадных водопада «Виктория»

