.wedding-wrap
	.wd-container
		.wedding-wrap__block
			.wedding-wrap__left
				h3.wedding-wrap__title Baden Gourmet

				p.wedding-wrap__text
					| Свадьба на природе – это всегда неповторимые и яркие эмоции, а также широкий простор для фантазии.
					br
					br
					| При организации такого мероприятия вам необходимо учесть множество нюансов: оформление зала, размещение гостей, маршрут для фотосессии и многое-многое другое.
				a.button.button--mid Подробнее

			.wedding-wrap__right
				.wedding-wrap__img-wrap
					img(src="./assets/img/content/wedding1.png")

.wedding-wrap
	.wd-container
		.wedding-wrap__block.wedding-wrap__block--reverse
			.wedding-wrap__left
				h3.wedding-wrap__title Cafe Thermal

				p.wedding-wrap__text
					| Подарите своему малышу незабываемый праздник – проведите его у нас! 
					br
					br
					| Пригласите на праздник аниматоров и артистов, чтобы вечер прошел еще более ярко и сказочно. А венцом торжества может стать великолепный торт от нашего кондитера.
				a.button.button--mid Подробнее

			.wedding-wrap__right
				.wedding-wrap__img-wrap
					img(src="./assets/img/content/wedding2.png")

.wedding-wrap
	.wd-wedding
		.wedding-wrap__block
			.wedding-wrap__left
				h3.wedding-wrap__title Банкетное обслуживание 

				p.wedding-wrap__text
					| Проведение банкетов — одно из основных направлений деятельности комплекса «Баден-Баден Лесная сказка». 
					br
					br
					| Именно здесь многие гурманы открыли для себя идеальное место для любого рода торжества: 6 банкетных залов, праздничный шатер, сочетание восхитительной кухни с великолепными природными пейзажами и безупречным сервисом!
				a.button.button--mid Подробнее
				.rest-olive

			.wedding-wrap__right
				.wedding-wrap__img-wrap
					img(src="./assets/img/content/wedding3.png")

.wedding-wrap
	.wd-container
		.wedding-wrap__block.wedding-wrap__block--reverse
			.wedding-wrap__left
				h3.wedding-wrap__title Корпоративы 

				p.wedding-wrap__text
					| Термальный курорт «Баден-Баден Лесная сказка» предоставляет качественные услуги по организации выездных корпоративных мероприятий.  
					br
					br
					| Мы поможем найти решение для любых ваших задач, будь то организация обучения персонала, переговоры с партнерами или корпоративный отдых.
				a.button.button--mid Подробнее

			.wedding-wrap__right
				.wedding-wrap__img-wrap
					img(src="./assets/img/content/wedding4.png")