section.wedding

    .container

        .wedding__wrapper

            .wedding__content
                .wedding__content-heading
                    | Проведение свадеб и выездных регистраций

            .wedding__picture
                .wedding__picture-wpap
                    .wedding__picture-white
                    .wedding__picture-photo
                        img(src="./assets/img/content/wedding1.png")

