$footerTextColor: #585858;
$footerFontSize: 14px;

.hs-footer {
    color: $footerTextColor;
    font-size: $footerFontSize;

    background: #f8f8f8;

    .container {
        max-width: 1233px;
        border-top: 1px solid #e7e7e7;
        @extend %clearfix;
        padding: 38px 0;
    }
}

.hs-footer__title {
    float: left;
    width: 24%;

    @include w1650px {
        width: 30%;
        line-height: 1.8;
    }
}

.hs-footer__list {
    float: left;
    width: 61%;

    @include w1650px {
        width: 40%;
        line-height: 1.8;
    }
}

.hs-footer__developer {
    float: left;
    width: 15%;
    // text-align: right;
    text-align: center;

    @include w1650px {
        width: 30%;
        line-height: 1.8;
        // text-align: center;
    }
}

.hs-footer__title-item {
    @include inlineblock();
    margin-left: 8px;

    &:first-child {
        margin-left: 0;
    }
}

.hs-footer__year-text {
    @include inlineblock();
    margin-left: 1px;
}

.hs-footer__item {
    @include inlineblock();
    margin-left: 15px;
}

.hs-footer__link {
    display: block;
    text-decoration: none;
    color: $footerTextColor;
    transition: .3s;

    &:hover {
        transition: .3s;
        color: #1775ab;
        font-weight: bold;
    }
}

.hs-footer__developer-item {
    @include inlineblock();
}

.hs-footer__developer-svg {
    width: 79px;

    .cls-1 {
        fill: #707070;
        fill-rule: evenodd;
    }

    @include w1650px {
        margin-top: 4px;
    }
}