.sf-popup-form-popup

    a(href="#").b-close.sf-popup__close
        .sf-popup__close-w

    .sf-popup__logo

        .sf-popup__heading-top
            | Бронирование номера:

        .sf-popup__heading-bottom
            | Полулюкс - однокомнатный

    .sf-popup__form-wrap

        .sf-popup__form-container

            form(action="" method="get").sf-popup__form

                .sf-popup__date-wrap

                    .sf-popup__date-block

                        .sf-popup__date-text
                            | Дата заезда:

                        .sf-popup__date

                            input(type="text" name="check-in-date").sf-popup__input-date.sf-popup__input-date_in

                            .svg-i__calendar
                                svg(viewBox="0 0 33.19 20.72")
                                    g
                                        rect(class="cls-1" x="13.67" y="2.72" width="19.03" height="17.5" rx="1.59" ry="1.59")
                                        line(class="cls-1" x1="22.14" y1="11.79" x2="24.22" y2="11.79")
                                        line(class="cls-1" x1="27.14" y1="11.79" x2="29.22" y2="11.79")
                                        line(class="cls-1" x1="17.14" y1="11.79" x2="19.22" y2="11.79")
                                        line(class="cls-1" x1="22.14" y1="15.79" x2="24.22" y2="15.79")
                                        line(class="cls-1" x1="27.14" y1="15.79" x2="29.22" y2="15.79")
                                        line(class="cls-1" x1="22.14" y1="7.79" x2="24.22" y2="7.79")
                                        line(class="cls-1" x1="28.69" y1="0.5" x2="28.69" y2="4.57")
                                        line(class="cls-1" x1="17.67" y1="0.5" x2="17.67" y2="4.57")
                                        line(class="cls-1" x1="17.14" y1="7.79" x2="19.22" y2="7.79")
                                        line(class="cls-1" x1="7.75" y1="11.79" x2="0.5" y2="11.79")
                                        polyline(class="cls-1" points="4.77 8.81 7.75 11.79 4.77 14.77")


                    .sf-popup__dash

                    .sf-popup__date-block

                        .sf-popup__date-text
                            | Дата выезда:

                        .sf-popup__date

                            input(type="text" name="").sf-popup__input-date.sf-popup__input-date_out

                            .svg-i__calendar
                                svg(viewBox="0 0 33.19 20.72")
                                    g
                                        rect(class="cls-1" x="13.67" y="2.72" width="19.03" height="17.5" rx="1.59" ry="1.59")
                                        line(class="cls-1" x1="22.14" y1="11.79" x2="24.22" y2="11.79")
                                        line(class="cls-1" x1="27.14" y1="11.79" x2="29.22" y2="11.79")
                                        line(class="cls-1" x1="17.14" y1="11.79" x2="19.22" y2="11.79")
                                        line(class="cls-1" x1="22.14" y1="15.79" x2="24.22" y2="15.79")
                                        line(class="cls-1" x1="27.14" y1="15.79" x2="29.22" y2="15.79")
                                        line(class="cls-1" x1="22.14" y1="7.79" x2="24.22" y2="7.79")
                                        line(class="cls-1" x1="28.69" y1="0.5" x2="28.69" y2="4.57")
                                        line(class="cls-1" x1="17.67" y1="0.5" x2="17.67" y2="4.57")
                                        line(class="cls-1" x1="17.14" y1="7.79" x2="19.22" y2="7.79")
                                        line(class="cls-1" x1="7.75" y1="11.79" x2="0.5" y2="11.79")
                                        polyline(class="cls-1" points="4.77 8.81 7.75 11.79 4.77 14.77")



                .sf-popup__wrapper

                    .sf-popup__counter-w

                        .sf-popup__count

                            .sf-popup__input-block

                                .sf-popup__count-text
                                    | Кол-во гостей

                                .sf-popup__input-block-w

                                    .sf-popup__block-input_grownups

                                        input(type="text" name="" value="1").sf-popup__input.sf-popup__input_grownups

                                        .svg-i__grownups
                                            svg(viewBox="0 0 19 21")
                                                g
                                                    path(class="cls-1" d="M5.5,12.5s-5,2-5,3c0,2.71,2,5,9,5")
                                                    path(class="cls-1" d="M13.5,12.5s5,2,5,3c0,2.71-2,5-9,5")
                                                    path(class="cls-2" d="M9.5,11.5c-2.36,0-4.78-3.68-4.78-6.72S7.14.5,9.5.5")
                                                    path(class="cls-2" d="M9.5,11.5c2.36,0,4.78-3.68,4.78-6.72S11.86.5,9.5.5")

                                    // .sf-popup__input-messenger.sf-popup__input_grownups-messenger-check
                                        svg(viewBox="0 0 9 9")
                                            g
                                                polyline(class="check__cls-1" points="1 6 3 8 8 1")

                                    .sf-popup__input-messenger.sf-popup__input_grownups-messenger-error

                                .sf-popup__grownups-count-messenger-text


                            // .sf-popup__input-block

                                .sf-popup__count-text
                                    | Кол-во детей до 12 лет:

                                .sf-popup__input-block-w

                                    .sf-popup__block-input_children

                                        input(type="text" name="number-of-children" value="1").sf-popup__input.sf-popup__input-children

                                        .svg-i__children
                                            svg(viewBox="0 0 21.4 21.4")
                                                g
                                                    circle(class="cls-1" cx="10.7" cy="10.7" r="10.2")
                                                    line(class="cls-2" x1="12.7" y1="7.59" x2="12.7" y2="10.18")
                                                    line(class="cls-2" x1="8.7" y1="7.59" x2="8.7" y2="10.18")
                                                    path(class="cls-2" d="M6.05,15.28a6.51,6.51,0,0,0,9.29,0")

                                    .sf-popup__input-messenger.sf-popup__input_children-messenger-check
                                        svg(viewBox="0 0 9 9")
                                            g
                                                polyline(class="check__cls-1" points="1 6 3 8 8 1")

                                    .sf-popup__input-messenger.sf-popup__input_children-messenger-error

                                .sf-popup__children-count-messenger-text

                            // promo

                            // .sf-popup__promo

                                .sf-popup__text
                                    | Промокод:

                                .sf-popup__promo-input-block
                                    input(type="text" name="" placeholder="Введите код").sf-popup__input

                                    .sf-popup__check
                                        .svg-i__check
                                            svg(viewBox="0 0 13.03 11.82")
                                                g
                                                    path(class="cls-1" d="M1,7s3.82,3.69,3.82,3.82S12,1,12,1")

                            // additional places

                            // .sf-popup__add-pl-wrapper

                                .sf-popup__add-pl
                                    input(type="text" name="" value="0" maxlength="1").sf-popup__spinner

                                .sf-popup__add-pl-text
                                    .sf-popup__add-pl-text-w
                                        div
                                            | Дополнительные
                                        div
                                            | места

                            // price

                            .sf-popup__price

                                .sf-popup__price-text
                                    | Стоимость аренды за 1 день:

                                .sf-popup__price-value
                                    | 35 200 руб.

                        .sf-popup__name

                            .sf-popup__svg-name-w
                                .sf-popup__svg-name
                                    svg(viewBox="0 0 19 21")
                                        g
                                            path(class="cls-1" d="M5.5,12.5s-5,2-5,3c0,2.71,2,5,9,5")
                                            path(class="cls-1" d="M13.5,12.5s5,2,5,3c0,2.71-2,5-9,5")
                                            path(class="cls-2" d="M9.5,11.5c-2.36,0-4.78-3.68-4.78-6.72S7.14.5,9.5.5")
                                            path(class="cls-2" d="M9.5,11.5c2.36,0,4.78-3.68,4.78-6.72S11.86.5,9.5.5")

                            .sf-popup__name-wrapper

                                // surname

                                .sf-popup__input-block

                                    .sf-popup__input-text
                                        | Фамилия:

                                    .sf-popup__input-block-w

                                        .sf-popup__block-input-name
                                            input(type="text" name="" value="").sf-popup__input

                                        .sf-popup__input-messenger.sf-popup__input-messenger-check
                                            // svg(viewBox="0 0 9 9")
                                                g
                                                    polyline(class="check__cls-1" points="1 6 3 8 8 1")
                                            span *

                                        .sf-popup__input-messenger.sf-popup__input-messenger-error

                                    .sf-popup__messenger-text

                                // name

                                .sf-popup__input-block

                                    .sf-popup__input-text
                                        | Имя:

                                    .sf-popup__input-block-w

                                        .sf-popup__block-input-name

                                            input(type="text" name="" value="").sf-popup__input

                                        .sf-popup__input-messenger.sf-popup__input-messenger-check
                                            // svg(viewBox="0 0 9 9")
                                                g
                                                    polyline(class="check__cls-1" points="1 6 3 8 8 1")
                                            span *

                                        .sf-popup__input-messenger.sf-popup__input-messenger-error

                                    .sf-popup__messenger-text

                                // patronymic

                                .sf-popup__input-block

                                    .sf-popup__input-text
                                        | Отчество:

                                    .sf-popup__input-block-w

                                        .sf-popup__block-input-name

                                            input(type="text" name="" value="").sf-popup__input

                                        .sf-popup__input-messenger.sf-popup__input-messenger-check
                                            // svg(viewBox="0 0 9 9")
                                                g
                                                    polyline(class="check__cls-1" points="1 6 3 8 8 1")
                                            span *

                                        .sf-popup__input-messenger.sf-popup__input-messenger-error

                                    .sf-popup__messenger-text


                                .sf-popup__stripe-w
                                    .sf-popup__stripe

                                    .sf-popup__svg-phone-w
                                        .sf-popup__svg-phone
                                            svg(viewBox="0 0 15.95 15.95")
                                                g
                                                    path(class="cls-1" d="M4.3,5.73a1.85,1.85,0,0,0,2.39,0,1.78,1.78,0,0,0-.23-2.48l-2-2A2.08,2.08,0,0,0,1.55,1L1,1.48A1.8,1.8,0,0,0,.5,2.81a13,13,0,0,0,4,8.69,13,13,0,0,0,8.69,4,1.8,1.8,0,0,0,1.32-.53l.51-.51a2.08,2.08,0,0,0-.27-2.9l-2-2a1.78,1.78,0,0,0-2.48-.23,1.85,1.85,0,0,0,0,2.39")

                                // phone

                                .sf-popup__input-block

                                    .sf-popup__input-text
                                        | Телефон:

                                    .sf-popup__input-block-w

                                        .sf-popup__block-input-name

                                            input(type="text" name="" value="" placeholder="+7 ( 000 ) 000 – 00 – 00").sf-popup__input.sf-popup__input-tel

                                        .sf-popup__input-messenger.sf-popup__input-messenger-check
                                            // svg(viewBox="0 0 9 9")
                                                g
                                                    polyline(class="check__cls-1" points="1 6 3 8 8 1")
                                            span *

                                        .sf-popup__input-messenger.sf-popup__input-messenger-error

                                    .sf-popup__messenger-text

                .sf-popup__submit
                    input(type="submit" value="Забронировать").sf-popup__item-button.sf-popup__item-button_main
                    input(type="submit" value="Забронировать").sf-popup__item-button.sf-popup__item-button_hover

                .sf-popup__information
                    | * Обязательно для заполнения

