section.search-logo-top
    .container
        .search-logo__bcrumbs
            ul.search-logo__bcrumbs-list
                li.search-logo__bcrumbs-item
                    | Главная

                li.search-logo__bcrumbs-item
                    .search-logo__bcrumbs-item-i
                        svg(viewBox="0 0 5 8")
                            g
                                polyline(points="1 1 4 4 1 7").cls-1

                li.search-logo__bcrumbs-item
                    a(href="#").search-logo__bcrumbs-link
                        | Номера

        .search-logo__title
            span.search-logo__word-t Подбор номеров

        .search-logo__text
            p
                | Мы предлагаем к проживанию удобные номера с современной отделкой. Всего на территории
            p
                | комплекса имеется 3 корпуса с номерами разной степени комфортности.

        .search-logo__wave
            svg(viewBox="0 0 281 13.74")
                path(d="M.5,10.08,11.75,3.65a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0L81.75,3.65a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0l11.25-6.43a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0l11.25-6.43a23.94,23.94,0,0,1,23.75,0l11.25,6.43a23.94,23.94,0,0,0,23.75,0").cls-1