section.search-apartments

    ul.search-apartments__list

        li(class="mix check1").search-apartments__item

            .container.container__border

                .search-apartments__name

                    .search-apartments__name-w

                        ul.sa__list

                            li(data-src="./assets/img/content/apartments-1.jpg").sa__item
                                a(href="#").search-apartments__link
                                    img(src="./assets/img/content/apartments-1.jpg" alt="")

                            li(data-src="./assets/img/content/apartments-2.jpg").sa__item.sa__item_hidden
                                a(href="#").search-apartments__link
                                    img(src="./assets/img/content/apartments-2.jpg" alt="")

                            li(data-src="./assets/img/content/apartments-3.jpg").sa__item.sa__item_hidden
                                a(href="#").search-apartments__link
                                    img(src="./assets/img/content/apartments-3.jpg" alt="")

                        .search-apartments__content

                            .search-apartments__description
                                a(href="#").search-apartments__title
                                    | 1 Luxe
                                .search-apartments__desc
                                    | Однокомнатный номер с двуспальной кроватью и диваном.

                            .search-apartments__price-wrap

                                // .search-apartments__price
                                    | от 6 200 руб.

                                // new value

                                .search-apartments__price.search-apartments__price_strikeout
                                    | от 6 200 руб.

                                .search-apartments__new-price
                                    | 5 700 руб.

                            .search-apartments__buttons

                                a(href="#").search-apartments__button-book
                                    span Забронировать

                                a(href="#").search-apartments__button-read-more
                                    span Подробнее

                .search-apartments__d

                    .search-apartments__d-w

                        .search-apartments__d-wrapper

                            .search-apartments__d-content

                                table.search-apartments__d-table

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Вместимость:
                                        td.search-apartments__d-cell
                                            | до 4х гостей

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Площадь:
                                        td.search-apartments__d-cell
                                            | 31 м2

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Вид из окна:
                                        td.search-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Корпус:
                                        td.search-apartments__d-cell
                                            span №3


                            .search-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней

        li(class="mix check2").search-apartments__item

            .container.container__border

                .search-apartments__name

                    .search-apartments__name-w

                        ul.sa__list

                            li(data-src="./assets/img/content/apartments-1.jpg").sa__item.sa__item_hidden
                                a(href="#").search-apartments__link
                                    img(src="./assets/img/content/apartments-1.jpg" alt="")

                            li(data-src="./assets/img/content/apartments-2.jpg").sa__item
                                a(href="#").search-apartments__link
                                    img(src="./assets/img/content/apartments-2.jpg" alt="")

                            li(data-src="./assets/img/content/apartments-3.jpg").sa__item.sa__item_hidden
                                a(href="#").search-apartments__link
                                    img(src="./assets/img/content/apartments-3.jpg" alt="")

                        .search-apartments__content

                            .search-apartments__description
                                a(href="#").search-apartments__title
                                    | 2 Luxe
                                .search-apartments__desc
                                    | Однокомнатный номер с двуспальной кроватью и диваном.

                            .search-apartments__price-wrap

                                .search-apartments__price
                                    | от 8 500 руб.

                                // new value
                                // .search-apartments__price.search-apartments__price_strikeout
                                    | от 6 200 руб.

                                // .search-apartments__new-price
                                    | 5 700 руб.

                            .search-apartments__buttons

                                a(href="#").search-apartments__button-book
                                    span Забронировать

                                a(href="#").search-apartments__button-read-more
                                    span Подробнее

                .search-apartments__d

                    .search-apartments__d-w

                        .search-apartments__d-wrapper

                            .search-apartments__d-content

                                table.search-apartments__d-table

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Вместимость:
                                        td.search-apartments__d-cell
                                            | до 4х гостей

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Площадь:
                                        td.search-apartments__d-cell
                                            | 31 м2

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Вид из окна:
                                        td.search-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Корпус:
                                        td.search-apartments__d-cell
                                            span №3


                            .search-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней
        li(class="mix check3").search-apartments__item

            .container.container__border

                .search-apartments__name

                    .search-apartments__name-w

                        ul.sa__list

                            li(data-src="./assets/img/content/apartments-1.jpg").sa__item.sa__item_hidden
                                a(href="#").search-apartments__link
                                    img(src="./assets/img/content/apartments-1.jpg" alt="")

                            li(data-src="./assets/img/content/apartments-2.jpg").sa__item
                                a(href="#").search-apartments__link
                                    img(src="./assets/img/content/apartments-2.jpg" alt="")

                            li(data-src="./assets/img/content/apartments-3.jpg").sa__item.sa__item_hidden
                                a(href="#").search-apartments__link
                                    img(src="./assets/img/content/apartments-3.jpg" alt="")

                        .search-apartments__content

                            .search-apartments__description
                                a(href="#").search-apartments__title
                                    | 3 Люкс однокомнатный
                                .search-apartments__desc
                                    | Однокомнатный номер с двуспальной кроватью и диваном.

                            .search-apartments__price-wrap

                                .search-apartments__price
                                    | от 3 000 руб.

                                // new value
                                // .search-apartments__price.search-apartments__price_strikeout
                                    | от 6 200 руб.

                                // .search-apartments__new-price
                                    | 5 700 руб.

                            .search-apartments__buttons

                                a(href="#").search-apartments__button-book
                                    span Забронировать

                                a(href="#").search-apartments__button-read-more
                                    span Подробнее

                .search-apartments__d

                    .search-apartments__d-w

                        .search-apartments__d-wrapper

                            .search-apartments__d-content

                                table.search-apartments__d-table

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Вместимость:
                                        td.search-apartments__d-cell
                                            | до 4х гостей

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Площадь:
                                        td.search-apartments__d-cell
                                            | 31 м2

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Вид из окна:
                                        td.search-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Корпус:
                                        td.search-apartments__d-cell
                                            span №3


                            .search-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней

        li(class="mix check3").search-apartments__item.search-apartments__item-reserved

            .container.container__border.container__border-reserved

                .search-apartments__name

                    .search-apartments__name-w

                        ul.sa__list

                            li(data-src="./assets/img/content/apartments-1.jpg").sa__item.sa__item_hidden
                                a(href="#").search-apartments__link
                                    img(src="./assets/img/content/apartments-1.jpg" alt="")

                            li(data-src="./assets/img/content/apartments-2.jpg").sa__item
                                a(href="#").search-apartments__link
                                    img(src="./assets/img/content/apartments-2.jpg" alt="")

                            li(data-src="./assets/img/content/apartments-3.jpg").sa__item.sa__item_hidden
                                a(href="#").search-apartments__link
                                    img(src="./assets/img/content/apartments-3.jpg" alt="")

                        .search-apartments__content

                            .search-apartments__description
                                a(href="#").search-apartments__title
                                    | 3 Люкс однокомнатный
                                .search-apartments__desc
                                    | Однокомнатный номер с двуспальной кроватью и диваном.

                            .search-apartments__price-wrap

                                .search-apartments__price
                                    | от 3 000 руб.

                                // new value
                                // .search-apartments__price.search-apartments__price_strikeout
                                    | от 6 200 руб.

                                // .search-apartments__new-price
                                    | 5 700 руб.

                            .search-apartments__buttons

                                // a(href="#").search-apartments__button-book.sa__button-book-reserved
                                    span Забронировать

                                a(href="#").sa__button-book-reserved
                                    span Забронировано

                                a(href="#").search-apartments__button-read-more
                                    span Подробнее

                .search-apartments__d

                    .search-apartments__d-w

                        .search-apartments__d-wrapper

                            .search-apartments__d-content

                                table.search-apartments__d-table

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Вместимость:
                                        td.search-apartments__d-cell
                                            | до 4х гостей

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Площадь:
                                        td.search-apartments__d-cell
                                            | 31 м2

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Вид из окна:
                                        td.search-apartments__d-cell
                                            | на территорию комплекса / на лес

                                    tr.search-apartments__d-row
                                        td.search-apartments__d-cell.search-apartments__d-cell_t
                                            | Корпус:
                                        td.search-apartments__d-cell
                                            span №3


                            .search-apartments__d-discount
                                p
                                    | В августе скидка на эти номера 30% при бронировании более чем на 10 дней